include ../scripts/scripts
include ../table/table
include ../figure/figure
include ../grid/grid
include ../breadcrumbs/breadcrumbs
include ../main-menu/main-menu
include ../form/form
include ../form-input/form-input
include ../page-section/page-section
include ../images-before-after/images-before-after
include ../tabs/tabs
include ../feedback/feedback
include ../block-marked/block-marked
include ../iframe-responsive/iframe-responsive
include ../list-advantages/list-advantages
include ../create-element/create-element
include ../list-steps-illustrated/list-steps-illustrated
include ../page-subsection/page-subsection
include ../before-after/before-after
include ../text-marked/text-marked
include ../fotorama/fotorama
include ../table-price/table-price
include ../image-bordered/image-bordered
include ../aside/aside
include ../articles-list/articles-list
include ../products-list/products-list
include ../products-payment-delivery/products-payment-delivery
include ../consultation/consultation
include ../gallery/gallery
include ../product/product
include ../image-float/image-float
include ../table-comparison/table-comparison
include ../style/style
include ../home-subtitle/home-subtitle
include ../home-price/home-price
include ../home-text-marked/home-text-marked
include /helpers/classes

//- data
include /data/main-menu

doctype html
html(lang='ru')
  include ../head/head
  body
    .page
      include ../header/header
      main
        block content
      include ../footer/footer
  +style('rest')
  block styles
  if isContactsPage
    script(src="https://unpkg.com/video.js/dist/video.min.js")
    script(src="https://unpkg.com/videojs-vr/dist/videojs-vr.min.js")
  +scripts(['script.js'])
