mixin table(table)
  .table-wrap
    -
      let tableClass = attributes.class ? attributes.class : '' // класс всей таблицы из атрибута класса
      let tableClassList = [ // список всех классов таблицы
        table.rows.length == 1 ? 'table--oneline' : '', // если в таблице только одна строка, то ей присвается отдельный класс
        tableClass, // класс из атрибута
        tableClass && table.classModifier ? tableClass + '--' + table.classModifier : '', // модификатор к классу из атрибута
        tableClass && table.rows.length == 1 ? tableClass+'--oneline' : '', // класс из атрибута + указание на однострочность
      ]
    table.table(class != tableClassList id != attributes.id)
      //- формирование блока colgroup для стилизации колонок
      -
        let cols = table.header ? table.header.length : table.rows[0].length // подсчёт количества колонок в таблице
        table.rows.forEach(row => cols = row.length > cols ? row.length : cols)
        let colGroupClass = 'table__col-group--'+cols // модификатор класса для элемента colgroup 
        colGroupClass = table.rows.length == 1 ? 'table__col-group--oneline' : colGroupClass // отдельный модификатор класса для colgroup, если в таблице одна строка
      colgroup.table__col-group(class!= colGroupClass) 
        - let i = 0 // счётчик элементов col
        //- цикл создания элементов col
        while i < cols 
          col
          - i++
      //- создание заголовка таблицы, если он указан
      if table.header
        tr.table__row.table__row--header
          each item in table.header
            -
              let itemClassName = tableClass ? tableClass + '__header' : '' // класс элемента, если указан класс для всей таблицы
              let itemClassList = [itemClassName] // формирование списка классов
            if typeof item == 'string' || Array.isArray(item)
              //- если элемент - строка или массив
              th.table__header(class != itemClassList): +createElement(item)
            else
              //- если элемент - объект
              -
                let itemClassModifier = itemClassName && item.classModifier ? itemClassName + '--' + item.classModifier :  '' // модификатор элемента, если указан
                itemClassList.push(itemClassModifier) // добавление модификатора в список классов
              th.table__header(class != itemClassList rowspan!=item.rowspan colspan!=item.colspan): +createElement(item.content)
      each row in table.rows
        //- создание строк таблицы
        tr.table__row
          each item in row
            //- создание элементов таблицы
            -
              let itemClassName = tableClass ? tableClass + '__cell' : '' // класс элемента, если указан класс для всей таблицы
              let itemClassList = [itemClassName] // формирование списка классов
            if typeof item == 'string' || Array.isArray(item)
              //- если элемент - строка или массив
              td.table__cell(class != itemClassList): +createElement(item)
            else
              //- если элемент - объект
              if !item.empty
                -
                  let itemClassModifier = itemClassName && item.classModifier ? itemClassName + '--' + item.classModifier : '' // модификатор элемента, если указан
                  itemClassList.push(itemClassModifier) // добавление модификатора в список классов
                td.table__cell(class != itemClassList rowspan!=item.rowspan colspan!=item.colspan): +createElement(item.content)
              else 
                td.table__cell.table__cell--empty
