.page-404
  background-image radial-gradient(circle at center -15rem, #fef9e5,#f2e1c5, #dbcdae)
  background-color #f2e1c5
  background-repeat no-repeat
  &__content
    display flex
    flex-direction column
    padding-y 2.25rem
    align-items center
  &__title
    text-align center
    position relative
    align-self center
  &__subtitle
    margin-top 1.5rem
    font-size 1.5rem
    text-align center
    line-height 2.125rem
    align-self center
  &__list
    display flex
    flex-wrap wrap
    justify-content center
    margin (1.5rem-(basePadding)) (-(basePadding)) (-(basePadding))
  &__list-item
    padding basePadding
    font-size font-l
    line-height line-l
  &__description
    font-size font-xxxl
    line-height line-xxxl
    text-align center
    margin-top 1.5rem
  &__image-wrap
    margin-top 1.5rem
    position relative
    width 100%
    max-width 46.8125rem
  &__image
    padding-top 63.5514018691589%
    width 100%
    background-image url(../images/404.png)
    background-position center
    background-repeat no-repeat
    background-size cover
    
