+pageSection.container.page-404
  .content.page-404__content
    h1.page-404__title Страница не найдена
    .page-404__subtitle Страницу не вернуть, но мы поможем вернуть вам волосы
    ul.page-404__list
      li.page-404__list-item: a(href='/') Замещение волос
      li.page-404__list-item: a(href='/tseny/') Цены
      li.page-404__list-item: a(href='/klienty/') Клиенты
      li.page-404__list-item: a(href='/otzyvy/') Отзывы
      li.page-404__list-item: a(href='/konsultatsiya/') Консультация
      li.page-404__list-item: a(href='/produktsiya/') Магазин
      li.page-404__list-item: a(href='/o-kompanii/') О компании
      li.page-404__list-item: a(href='/kontakty/') Контакты
      li.page-404__list-item: a(href='/o-kompanii/zametki/') Заметки эксперта
    .page-404__image-wrap
      .page-404__image
    .page-404__description Да, старницы нет. 
      br
      | Она удалена или ее не было.
