.images-before-after
  padding-left 17.5%
  padding-bottom 8%
  position relative
  @media (max-width point-s - 1)
    display flex
    justify-content center
    padding-left 0
  img
    display block
  &__before
    position absolute
    bottom 0
    left 0
    width 33.3333%
    padding-top 30%
    img
      position absolute
      bottom 0
      left 0
      width 100%
  &__after
    padding basePadding
    border basePadding solid #ffffff
    @media (max-width point-s - 1)
      width 82.5%
  &--no-border
    & ^[-1]__after
      padding 0
      border none
