include /blocks/block-marked/block-marked

mixin feedbackItem(item)
  +blockMarked({ padding: 'medium' }).feedback-item&attributes(attributes): +grid
    +grid__item({ l: 2, m: 3, xs: 4 }).feedback-item__image
      if item.photo
        a(href= item.photo.src data-fancybox): img(src= item.photo.thumb)
    +grid__item({ l: 10, m: 9, s: 8, xs: 12 }): .feedback-item__info
      .feedback-item__body: +createElement(item.body)
      .feedback-item__author !{item.author}
      .feedback-item__about Администратор: 
        a(href='/') !{item.admin}
      .feedback-item__about Мастер: 
        a(href='/') !{item.master}
