.feedback-item
  &__photo
    img
      max-height 200px
      object-fit contain
  &__photo-desc
    margin-top 0.5rem
  &__image
    img
      display block
  &__info
    position relative
    padding-left basePadding
    &::before
      content ''
      position absolute
      top -.5rem
      left -.5rem
      width 1rem
      height .875rem
      background-color #4e4e4e
      mask-image url(../images/quote.svg)
      mask-repeat no-repeat
      mask-position center
      mask-size 100%
  &__author
    font-weight bold
    ^[-1]__body + &
      margin-top .5rem
  &__about
    color #636363
    & + &
      margin-top .5rem
    ^[-1]__author + &
      margin-top 1rem
