.banner-free-haircut
  &__title.home-subtitle
    color #A11C40
    @media (min-width point-m)
      padding-bottom 2.375rem
  &__inner
    @media (min-width point-m)
      background-color #F4ECDC
      background-image radial-gradient(circle at 50% 50%, #E3D4B7 60%, transparent 60%)
    &.content
      display flex
      justify-content center
      @media (max-width point-m - 1)
        flex-wrap wrap
  &__info
    position relative
    display flex
    flex-direction column
    justify-content center
    width 100%
    @media (min-width point-m)
      max-width 26.75rem
      height 100%
      padding-y 2rem
    @media (max-width point-m - 1)
      padding-top 3.75rem
      padding-bottom 1.25rem
    &::before
      @media (max-width point-m - 1)
        content ''
        position absolute
        inset 0 (-(basePadding)) -5.625rem
        z-index -1
        background-color #E3D4B7
  &__subtitle
    font-size 1.625rem
    font-weight bold
    line-height 1
    small
      display block
      margin-top 1rem
      font-size 1.125rem
      font-weight bold
      line-height 1.625rem
      color #A11C40
  p
    align-self flex-end
    width 15.125rem
    @media (min-width point-m)
      margin-top 3.375rem
    @media (max-width point-m - 1)
      margin-top 1rem
  &__image
    @media (min-width point-m)
      margin-top -3rem
      padding-bottom 1rem
