.link-social
  display inline-block
  height 2rem
  width 2rem
  background-size 2rem
  transition opacity 0.4s
  & + &
    margin-left .25rem
  &:hover
    opacity 0.9
    transition-duration 0.1s
  &--viber
    background-image var(--viber)
  &--whatsapp
    background-image var(--whatsapp)
  &--telegram
    background-image var(--telegram)
