.breadcrumbs
  display flex
  flex-wrap wrap
  padding-y (basePadding/3*4)
  font-size font-s
  line-height line-s
  align-items center
  font-weight 500
  &__parent
    padding-right (basePadding /2 )
    a
      color color-text
      &:hover
        color color-link-hover
  &__current
    color #636363
  &__separator
    border 0.25rem solid transparent
    border-left 0.25rem solid #cccccc
