.consultation-categories
  &__title
    font-size 1.625rem
    line-height 2.25rem
    position relative
    font-weight 500
  &__list
    margin-top basePadding
  &__item
    display flex
    font-size font-s
    margin-x -(basePadding/3)
    justify-content space-between
    & + &
      margin-top (basePadding/3*2)
    &--active
      & ^[-2]__link
      & ^[-2]__count
        text-decoration none
        color #000
        font-weight 500
  &__link
  &__count
    padding-x (basePadding/3)
    color #7c776c
  &__count
    min-width 2rem
    text-align right
