.block-marked
  margin-left -(basePadding*1.875)
  margin-right -(basePadding*1.75)
  padding-left (basePadding*3.875)
  padding-right (basePadding*3.75)
  padding-y 2.5rem
  parMargin()
  h2 + &
    margin-top (basePadding* 2)
  &--in-grid
    max-width unquote('calc(100% + ' + (basePadding*1.875) + ')')
  @media screen and (max-width (containerWidth))
    margin-x (-(basePadding))
    padding-x (basePadding)
  &--margin-top
    border-top (basePadding* 2.4) solid #ffffff
  &--padding-small
    margin-x 0
    padding-x (basePadding)
    padding-y (basePadding*1.3333)
    & > img
      display block
    &^[-1]--margin-top
      border-top (basePadding* (2.6666)) solid #ffffff
    & ^[-1]__content
      &--lifted
        margin-bottom -( basePadding* (2.6666) )
      &--marked
        padding (basePadding)
  &--padding-big
    padding-y (basePadding*3.75)
    & > img
      display block
    &^[-1]--margin-top
      border-top (basePadding* (3.6666)) solid #ffffff
    & ^[-1]__content
      &--lifted
        margin-bottom -( basePadding* (3.6666) )
      &--marked
        padding (basePadding)
  &--padding-medium
    margin-inline 0
    padding-inline (basePadding*2)
    padding-block (basePadding*2.3333)
  &--tape
    & ^[-1]__content
      &--marked
        min-height 5rem
        padding-left (6rem)
  &--font-size-
    &small
      font-size font-xs
      p
        font-size font-s
        line-height line-s
        & + p
          margin-top font-s
  &__content
    &--lifted
      @media(min-width point-m)
        margin-bottom ( basePadding * -5.2)
    &--marked
      padding (basePadding * 2)

  &__quote
    p
      &:first-of-type
        &::before
          content '«'
          font-size font-xxl
          line-height line-m
      &:last-of-type
        &::after
          content '»'
          font-size font-xxl
          line-height line-m
  &__cite
    margin-top (basePadding*4.8)
    display block
    font-size font-s
    font-style italic
    line-height line-s
    font-weight 500
