mixin gallery(gallery)
  -
    gallery.settings = gallery.settings ? gallery.settings : {}
    gallery.settings.size = gallery.settings.size ? gallery.settings.size : 'normal'
    let fancyboxId = gallery.settings.fancyboxId ? gallery.settings.fancyboxId : ''
    let galleryClassList = [
      ( attributes.class ? attributes.class : '' ),
      ( gallery.settings.noBorders ? 'gallery--no-borders' : '' ),
      ( ( gallery.settings.size && gallery.settings.size != 'normal' ) ? 'gallery--size-'+gallery.settings.size : '' )
    ]
  .gallery(class!= galleryClassList)
    each item in gallery.list
      .gallery__item
        if !item.href && !item.detail
          .gallery__image
            img(src!= item.src alt != item.alt title != item.title || item.alt loading='lazy' decoding='async')
        else if item.href
          a(href=item.href).gallery__image
            img(src!= item.src alt != item.alt title != item.title || item.alt loading='lazy' decoding='async')
        else if item.detail
          a(href=item.detail data-fancybox= fancyboxId).gallery__image
            img(src!= item.src alt != item.alt title != item.title || item.alt loading='lazy' decoding='async')
