.consultation-list-small
  &__item + &__item
    margin-top 1.25rem
  &__title
    font-size font-m
    line-height line-m
    a
      color #7c776c
      &:hover
        color #3d3d3d
  &__info
    color #4e4e4e
    margin-top 0.5rem
    font-size font-s
