mixin consultationListSmall(list)
  .consultation-list-small
    each item in list
      .consultation-list-small__item
        .consultation-list-small__title
          a(href='konsultatsiya-item.html') !{item.title}
        .consultation-list-small__info !{item.name} / !{item.date}
