mixin homeSystem(systems)
  .home-system&attributes(attributes)
    each item in systems
      -
        const classList = (item.mod ? `home-system__item home-system__item--${item.mod}` : 'home-system__item')
      div(class != classList)
        .home-system__top
          p.home-system__title !{item.title}
          .home-system__price 
            p.home-system__price-range Диапазон цен
            .home-system__price-value !{item.price}
          ul.list-marked.home-system__list
            each i in item.list
              li !{i}
        .home-system__bottom 
          p.home-system__text !{item.text}
          a(href=item.href target='_blank').home-system__link.btn !{item.link}
    p.home-system__discount Скидка #[span 25%] на первый заказ!
  +grid({ justify:'center' })
    +grid__item({ xs:12 }).text-align--center
      a(href='#' data-url="https://w165949.yclients.com").btn.home-system__consult.ms_booking Запись на консультацию 
