.home-system
  display grid
  grid-template-columns repeat(3, 1fr)
  grid-auto-rows auto
  gap 2.5rem
  justify-items center
  @media(max-width point-l - 1)
    grid-template-columns repeat(2, 1fr)
    gap 2rem
  @media(max-width point-m - 1)
    grid-template-columns 1fr
  &__item
    position relative
    display flex
    flex-direction column
    height 100%
    min-height 675px
    overflow hidden
    @media(max-width point-l - 1)
      min-height auto
    &--active
      border 1px solid #A11C40
      &::after
        content 'Рекомендуем'
        position absolute
        top 1.2rem
        right -5.8rem
        width 270px
        padding-y 0.625rem
        font-size 0.875rem
        line-height normal
        font-weight 600
        color #ffffff
        text-transform uppercase
        text-align center
        rotate 40.129deg
        background linear-gradient(hsla(344, 70%, 37%, 1), hsla(344, 74%, 39%, 1), hsla(344, 68%, 34%, 1))
  &__top
    flex-grow 1
    display flex
    flex-direction column
    row-gap 1.875rem
    padding 1.875rem
    text-align center
    background-color #FFFDF8
    @media(min-width point-l) and (max-width 1050px)
      padding-top 2.5rem
  &__bottom 
    display flex
    flex-direction column
    min-height 266px
    padding 1.875rem
    background-color #F5EBD7
    @media(max-width point-l - 1)
      min-height 215px
    @media(max-width point-m - 1)
      min-height auto
  &__title
    font-size 1.5rem
    line-height 1.3
    font-weight 500
  &__price-range
    margin-bottom 0.625rem
    font-size 0.875rem
    line-height normal
    font-weight 500
    color #000000
  &__price-value
    font-size 1.625rem
    line-height normal
    font-weight 600
    color #A11C40
  &__list
    text-align left
  &__text
    line-height 1.375
    margin-bottom 1.25rem
  &__link
    margin-top auto
    text-align center
  &__discount
    grid-column 1/-1
    margin-top 1.25rem
    margin-bottom 1.25rem
    font-size 1.625rem
    line-height normal
    font-weight 600
    @media(max-width point-s - 1)
      text-align center
    & span
      color #A11C40
      font-weight 600
      text-align center
  &__consult
    @media(max-width point-s - 1)
      width 100%

