mixin mainMenu(list)
  - attributes.class = attributes.class ? attributes.class : 'main-menu'
  nav(class != attributes.class id != attributes.id)
    ul(class != attributes.class ? `${attributes.class}__list` : '')
      each item in list
        -
          let itemClassList = []
          attributes.class != undefined ? itemClassList.push(`${attributes.class}__list-item`) : ''
          item.active ? itemClassList.push(`${attributes.class}__list-item--active`) : ''
          item.sublist ? itemClassList.push(`${attributes.class}__list-item--parent`) : ''
        li(class != itemClassList)
          a(href=`${item.href}`) !{item.name}
          if item.sublist
            label(class != `${attributes.class}__sublist-switch`)
            ul(class != `${attributes.class}__sublist`)
              each subitem in item.sublist
                -
                  let itemClassList = []
                  attributes.class != undefined ? itemClassList.push(`${attributes.class}__sublist-item`) : ''
                  item.active ? itemClassList.push(`${attributes.class}__sublist-item--active`) : ''
                li(class != itemClassList)
                  a(href=`${subitem.href}`) !{subitem.name}
    include ../header-sites/header-sites
