mixin recommendedItem(item)
  +grid({ paddingy: true, parLike: true }).recommended-item.page-subsection
    +grid__item({ xs:12 })
      h3= item.title
    +grid__item({ l:6, m:7 }).recommended-item__inner 
      .recommended-item__image
        +img({
          name: `${item.img}`,
          path: '/images/recommended/',
          formats: [
            { ext: 'webp', mime: 'image/webp' },
            { ext: 'jpg', orig: true },
          ],
          density: [
            { values: [ 1, 2 ] }
          ]
        })(alt=item.title title=item.title width=145 height=145 decoding="async" loading="lazy")
      .recommended-item__description
        +createElement(item.body)
      a(href= item.href target='_blank').btn.recommended-item__btn= item.button
    if item.tabs
      +grid__item({ l:6, m:5, s:12, xs:12 })
        .recommended-item__tabs
          +tabs()
            +tab({ name: 'Toppik' }): +youtubeResponsive('snQv91KWsaw')
            +tab({ name: 'Hairfor2' }): +youtubeResponsive('mzYJhhCv30Q')
            +tab({ name: 'Sevich' }): +youtubeResponsive('t1rJ3vDV8WM')
    if item.video
      +grid__item({ l:6, m:5, s:12, xs:12 })
        +youtubeResponsive('Iqt7KkGgf5M')
    if item.product 
      +grid__item({ l:6, m:5, s:9, xs:12 })
        .recommended-item__product
          .recommended-item__product-item
            a(href='https://vsepariki.com/catalog/nakladki/na-temennuyu-zonu/' target='_blank')
              +img({
                name: 'woman-wig',
                path: '/images/recommended/',
                formats: [
                  { ext: 'webp', mime: 'image/webp' },
                  { ext: 'jpg', orig: true },
                ],
                density: [
                  { values: [ 1, 2 ] }
                ]
              })(alt='Накладка на теменную зону' width=128 height=128 decoding="async" loading="lazy")
            a(href='https://vsepariki.com/catalog/nakladki/na-temennuyu-zonu/' target='_blank').recommended-item__product-link На теменную зону #[br] #[strong от 12 200 руб.] 
          .recommended-item__product-item
            a(href='https://vsepariki.com/catalog/nakladki/na-probor/' target='_blank')
              +img({
                name: 'woman-wig',
                path: '/images/recommended/',
                formats: [
                  { ext: 'webp', mime: 'image/webp' },
                  { ext: 'jpg', orig: true },
                ],
                density: [
                  { values: [ 1, 2 ] }
                ]
              })(alt='Накладка на пробор' width=128 height=128 decoding="async" loading="lazy")
            a(href='https://vsepariki.com/catalog/nakladki/na-probor/' target='_blank').recommended-item__product-link На пробор #[br] #[strong от 15 600 руб.] 
    if item.cosmetics
      +grid__item({ l:6, m:5, s:9, xs:12 })
        .recommended-item__product
          -
            const prod = [
              {
                href: 'https://triholog.org/filter/shampuni/dlya-uluchsheniya-struktury-volos',
                name: 'shampoo',
                link: `Шампуни <br> <strong>от 2 346 руб.</strong>`,
              },
              {
                href: 'https://triholog.org/filter/ampuly/dlya-lecheniya-vypadeniya-volos',
                name: 'shampoo',
                link: `Тоники <br> <strong>от 3 910 руб.</strong>`,
              },
              {
                href: 'https://triholog.org/filter/sprei',
                name: 'shampoo',
                link: `Спреи <br> <strong>от 1 156 руб.</strong>`,
              },
            ]
          each i in prod
            .recommended-item__product-item.recommended-item__product-item--card
              a(href= i.href target='_blank')
                +img({
                  name: i.name,
                  path: '/images/recommended/',
                  formats: [
                    { ext: 'webp', mime: 'image/webp' },
                    { ext: 'jpg', orig: true },
                  ],
                  density: [
                    { values: [ 1, 2 ] }
                  ]
                })(alt= i.link width=128 height=128 decoding="async" loading="lazy")
              a(href= i.href target='_blank').recommended-item__product-link !{i.link} 
