mixin figure(item)
  figure.figure(class!=attributes.class id!=attributes.id)
    if !item.link
      img(src!=item.src alt!= item.alt ? item.alt : item.caption).figure__image
      figcaption.figure__caption !{item.caption}
    else
      a(href!=item.link)
        img(src!=item.src alt!= item.alt ? item.alt : item.caption).figure__image
      figcaption.figure__caption: a(href!=item.src) !{item.caption}
