.figure
  & + &
  .list-marked + &
  .list-numbered + &
  .table + &
  p + &
    margin-top 1rem
  h1 + &
    margin-top 1rem
  h2 + &
    margin-top 0.5625rem
  h3 + &
    margin-top 0.3125rem
  h4 + &
    margin-top 0.125rem

  &__image
    padding-bottom (font-m/3*2)
    display block
  &__caption
    color #583e33
    font-style italic
    line-height 1.375
