extends /blocks/layout-info/layout-info

block head
  -
    var pageTitle = 'Диффузная алопеция: симптомы, лечение'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Инфо','Заметки эксперта'],current:'Диффузная алопеция: симптомы, лечение'})
      h1 Диффузная алопеция: симптомы, лечение
      +pageSection
        +grid({paddingy: true, parLike:true})
          +grid__item({m:9,xs:12})
            p Диффузная алопеция (или телогеновая) — проявление внутреннего дисбаланса в человеческом организме, которая возникает вторично и обусловлена рядом заболеваний и состояний. 
            p Учеными установлено, что диффузная алопеция у женщин встречается чаще (у 40%), чем и у мужчин (у 20%). Возникает после 20 лет. Для заболевания характерно обильное выпадение волос, то серьезно усиливающееся, то затихающее, приводящее к ослаблению роста волос.
            p Доказано, что диффузная алопеция может проявиться у женщин и у мужчин в любом возрасте. К первым признакам заболевания относится усиленное выпадение волос, а также поредение.
            h2 Признаки начала алопеции
            ul.list-marked
              li Резкое усиление выпадения волос: легкое натяжение пряди приводит к потере до 10 волосинок.
              li Состояние волос резко ухудшается: появляется ломкость, вид становится нездоровый, фолликулы ослаблены, не удерживают волосы.
              li Начинается выпадение волос по телу.
            p Если в норме в день допустимо выпадение до сотни штук волос (во время мытья головы, расчесывания, создания причесок), то при диффузном облысении ежедневно можно терять до тысячи штук. 
            p Алопеция этого вида классифицирована на телогеновую и анагеновую. В первом случае волосяные луковицы преждевременно прекращают деятельность, а во втором потеря волос происходит в процессе роста.
            h2 Классификация в зависимости от формы
            p: img(src='/images/info/zametki/alopetsiya/diffuznaya-alopetsiya-simptomy-lechenie/klassifikaciya-v-zavisimosti-ot-formy.jpg' alt='Классификация в зависимости от формы')
            p И у телогеновой, и у анагеновой формы свои причины и характерное начало. Течение телогеновой постепенное. Пусковым фактором становится патология в организме: авитаминоз, стрессовое состояние, гормональные нарушения. В этой фазе функционирование фолликулов прекращается, новые волосы не вырастают. 
            p В анагеновой фазе облысения выпадение волос начинается внезапно, начинается сразу после влияния на организм раздражителей: токсических веществ, лекарственных средств, радиоактивного облучения, лучевой или химиотерапии. Суть патологии заключается в том, что, из-за поврежденных волосяных луковиц, волосы выпадают на этапе активного отрастания. 
            h2 Механизм возникновения и причины
            p Обильное выпадение волос при данном заболевании связано с тем, что фолликул слишком быстро сменяет стадию роста стадией покоя. Причины возникновения — не только физические, но и психологические факторы, среди которых:
            ul.list-marked.list-marked--w-prev-par
              li инфекционные заболевания;
              li психологические расстройства (стрессы или нервное истощение);
              li эндокринные расстройства и болезни поджелудочной железы;
              li нарушение обмена веществ;
              li неправильное питание, строгой диеты или голодания;
              li беременность, а также период лактации;
              li частая химическая завивка и окраска волос.
            p Если человек подвержен стрессу либо другому психологическому расстройству, у него может начаться интенсивное выпадение волос, при котором теряется до 50% волос. Однако это происходит не сразу, а через дни или даже недели после воздействия на состояние пациента.
            h2 Распространение заболевания и результаты исследований
            p Согласно данным статистики, на нерубцующееся выпадение волос приходится 80%, она — частая причина облысения, поражающая от 30 до 40% людей на планете в возрасте до 40-50 лет. 
            +blockMarked({ 'padding': 'small' }): p Проблема вызывает серьезные стрессы у людей: приводит к неуверенности в себе, постоянному дискомфорту, вызывая социальные проблемы.
            p Диффузная алопеция известна человечеству уже много лет, но ее диагностика и лечение до сих пор недостаточно изучены. А современные публикации свидетельствуют о том, что в последние годы число пациентов, страдающих диффузной потерей волос, увеличивается. На выпадение волос жалуются женщины среднего возраста, но четкого уровня заболеваемости зафиксировано еще не было. 
            h2 Лечение диффузной алопеции
            p Лечение должно быть комплексным: врачи рекомендуют общеукрепляющую терапию, высококалорийное питание и прием витаминов. Местное лечение болезни заключается в использовании препаратов, раздражающих кожу головы (к примеру, спиртовых, с применением перца) и стимулирующих микроциркуляцию крови, которая обеспечивает рост волос. 
            h3 Дополнительные способы помощи
            p
              img(src='/images/info/zametki/alopetsiya/diffuznaya-alopetsiya-simptomy-lechenie/dopolnitelnye-sposoby-pomoshchi-1.jpg' alt='')
              br
              i В кожу втирают лекарственные средства, подбирают лечебные шампуни, восстанавливающие маски, укрепляющие волосы, восстанавливающие рост и кровообращение в зоне облысения;
            p
              img(src='/images/info/zametki/alopetsiya/diffuznaya-alopetsiya-simptomy-lechenie/dopolnitelnye-sposoby-pomoshchi-2.jpg' alt='')
              br
              i Аппаратные методы лечения: проводят лазеротерапию, озонотерапию, дарсонвализацию. Процедуры активизируют рост волос, ускоряют и нормализуют кровообращение в области пораженных участков;
            p
              img(src='/images/info/zametki/alopetsiya/diffuznaya-alopetsiya-simptomy-lechenie/dopolnitelnye-sposoby-pomoshchi-3.jpg' alt='')
              br
              i Инъекционные методики — плазмотерапия, мезотерапия: предполагают введение плазмы крови пациента (восстанавливает волосяные луковицы и стимулирует рост шевелюры), препаратов, обогащенных аминокислотами, витаминами, минералами, проявляющих сосудорасширяющее воздействие. 
            p Как было сказано выше, проблема потери волос может вызывать сильные психологические стрессы, вызываемые чувством дискомфорта, неуверенностью в себе, что становится причиной сильных социальных проблем. Чтобы избежать негативных последствий, следует выбрать современные методы маскировки облысения. 
            h3 Безоперационный способ лечения как альтернатива пересадке
            p Система волос — метод замещения волос без хирургического вмешательства — можно использовать при любых видах облысения. Он безвреден, безболезненный и дает гарантию положительного визуального эффекта.
            p При помощи системы можно тщательно скрыть зоны облысения, сделав их незаметными для окружающих. Это поможет обрести чувство уверенности и комфорта в обществе.
            p К тому же в системе волос можно плавать, заниматься любыми видами активности, вести привычный образ жизни, навсегда позабыв о дискомфорте и скованности из-за поредевшей шевелюры или облысевшей головы!
            include /blocks/expert-notes-article-footer/expert-notes-article-footer
          +grid__item({m:3,xs:12})
            -
              var consCategories = [
                {name:'Алопеция',count:'8'},
                {name:'Выпадение волос у мужчин',count:'2'},
                {name:'Выпадение волос у женщин',count:'2'},
                {name:'Себорея',count:'1'},
                {name:'Парики и накладки',count:'1'},
                {name:'Методы',count:'1'},
              ]
            +pageSubection
              +consultationCategories(consCategories)
            +pageSubection
              include /blocks/expert-notes-aside/expert-notes-aside
