extends /blocks/layout-info/layout-info

block head
  -
    var pageTitle = 'Информационный портал по проблеме потери волос'
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection
    .container
      .content
        +breadcrumbs({parents:[],current:'Инфо'})
        h1 Информационный портал по проблеме потери волос
        +pageSection
        p Отвечаем на&nbsp;вопросы по&nbsp;проблемным волосам:
        ul.list-marked.list-marked--w-prev-par
          li Что делать если начинают выпадать волосы?
          li Как маскировать лысину?
          li Что делать, если волос стал тонким и&nbsp;ломается?
          li Что делать при заболеваниях кожи головы: перхоти, себореи, псориаза.
          li Я&nbsp;начал рано седеть, как быть?
          li Что делать при облысении из&nbsp;за&nbsp;ожогов и&nbsp;рубцов?

        p: a(href='/info/voprosi/') Отвечаем в&nbsp;консультации. 
        p Для самых частых и&nbsp;популярных вопросов 
          a(href='/info/zametki/') написаны статьи.
