extends /blocks/layout-info/layout-info

block head
  -
    var pageTitle = 'Система замещения волос - форум и консультация'
    var pageDescription = ''
    var pageKeywords = ''
    var noFullFooter = true
block content
  .container
    .content
      +breadcrumbs({parents:['Главная'],current:'Консультация'})
      +pageSection
        h1 Консультация по замещению волос
        +grid({parLike:true,paddingy: true})
          +grid__item({m:9,xs:12})
            +pageSubection
              include /blocks/consultation/consultation-ask-panel/consultation-ask-panel-info
            +pageSubection
              include /data/consultation-list
              +consultationList(consItems)
            +pageSubection
              include /blocks/pagination/pagination
          +grid__item({m:3,s:6,xs:12})
            +consultationCategories(consCategories)
