extends /blocks/layout-info/layout-info

block head
  -
    var pageTitle = 'Облысение у мужчин: причины развития'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Инфо','Заметки эксперта'],current:'Облысение у мужчин: причины развития'})
      h1 Облысение у мужчин: причины развития
      +pageSection
        +grid({paddingy: true, parLike:true})
          +grid__item({m:9,xs:12})
            p: img(src='/images/info/zametki/oblysenie-muzhchina/oblysenie-u-muzhchin-prichiny-razvitiya/oblysenie-u-muzhchin-prichiny-razvitiya.jpg' alt='Облысение у мужчин: причины развития')
            p В наши дни можно встретить мужчин, которые обеспокоены вопросами потери волос. Раннее облысение — вторая проблема по значимости после эректильной дисфункции, которая носит глобальный характер. 
            p Чтобы справиться с проблемой, необходим багаж знаний, и, при первых признаках заболевания, немедленно обращаться за помощью к врачам.
            h2 Актуальность проблемы
            p Облысение — дерматологическое заболевание, вызывающее выпадение волос, при котором организм не успевает возмещать утрату выпадающих волос. Причины облысения у мужчин нужно искать в наследственности, так как часто генетический фактор — решающий. 
            p С возрастом среди мужчин появляется все большее количество лысеющих. Проблема проявляется в середине-конце жизни не у всех:
            ul.list-marked.list-marked--w-prev-par
              li чаще наступает раннее облысение, из-за которого 20% мужчин, в возрасте 20-30 лет, сталкиваются с потерей волос, 
              li 30% мужчин начинают лысеть в возрасте от 40 лет, 
              li 40% теряют волосы в возрасте от 50 лет. 
            p Если рассмотреть развитие процесса потери волос, можно обнаружить, что у мужчины наблюдается возраст, при котором фолликулы становятся чувствительны к андрогенам (мужским половым гормонам), в результате чего начинается их разрушение.
            h2 Необходимость своевременной помощи
            p При облысении у мужчин врач может назначить разную тактику лечения: препараты для приема внутрь, средства для внешнего применения. Но чаще лекарства недостаточно эффективны, поэтому решить проблему предлагают хирургическим вмешательством. 
            ul.list-marked
              li Операция по трансплантации волосяных луковиц или отдельных участков кожи доступна не всем: противопоказана по состоянию здоровья или слишком дорогостоящая. 
              li Некоторые отказываются из-за неутешительной статистики эффективности метода лечения, поскольку луковицы могут не прижиться. 
            p Поэтому все больше людей предпочитают альтернативные методы борьбы с заболеванием. Лечение можно совмещать с безопасным методом безоперационного замещения — пользоваться системой волос.
            p Система волос — эффективный и безопасный метод замещения волос, не требует вмешательства в организм, а ее результаты восстанавливают ощущение здоровья. Она доступна каждому, из-за сравнительно невысокой стоимости и отсутствия ограничений (за исключением болезней кожи).
            h2 Причины облысения у мужчин
            p Мужское облысение — древняя проблема, но о его причинах известно не каждому. Как же происходит процесс потери волос и почему? 
            ul.list-marked
              li Под воздействием фермента 5 альфа редуктаза, тестостерон (мужской половой гормон) превращается в дигидротестостерон (активный гормон), который негативно влияет на фолликулы, чувствительные к нему.
              li Внутрифолликулярный дигидротестостерон вызывает долговременный и сильный спазм сосудов, питающих фолликулы, в результате нарушается синтез белков, возникает дистрофия. 
              li Постепенно волос разрушается, а фолликул перестает «рождать» здоровый волос, после чего прекращает «работу».
            p: img(src='/images/info/zametki/oblysenie-muzhchina/oblysenie-u-muzhchin-prichiny-razvitiya/prichiny-oblyseniya-u-muzhchin.jpg' alt='Причины облысения у мужчин')
            p Другая проблема, которая вызывает раннее облысение у мужчин — пристрастие к табакокурению. 
            ul.list-marked
              li Исследования проводили экспурты из Тайваня, которым удалось выяснить, что у регулярно курящих мужчин облысение наступает намного раньше, чем у тех, у кого нет вредной привычки. 
              li Опыт проводился среди 700 мужчин, подверженных облысению. Делали опрос, насколько часто респонденты курят, как долго длится вредная привычка, и по какой причине они начали курить. 
              li Вывод оказался печальным: курение повышает вероятность потери волос: нарушает кровоснабжения волосяных фолликул, они разрушаются, волосы прекращают расти. 
            p Причиной облысения мужчин могут быть и инфекции: чаще потере волос (алопеции) подвержены страдающие кариесом. Испанские ученые обнаружили, что у страдающих гнездным облысением проплешины возникают на уровне пораженных зубов.
            p Еще одна причина облысения — стрессы и психологические расстройства. 
            ul.list-marked
              li Стрессы могут не только замедлить рост волос, но и вызвать облысение, если воздействие стрессовой ситуации на организм будет продолжительным. 
              li В стрессе фолликулы впадают в состояние покоя, и через несколько месяцев начинают сбрасывать волосы. 
              li Возникает поредение волос, которое порождает стресс уже по причине облысения, и ситуация усугубляется еще больше.
            p Причиной облысения у мужчин может стать и химиотерапия при онкологическом заболевании. Проходит самостоятельно после завершения процедур: рост волос нормализуется без специального лечения.
            h2 Борьба с облысением у мужчин
            p Ученые постоянно изобретают средства лечения облысения у мужчин, выбирать препараты нужно внимательно. Проконсультироваться с экспертами — трихологом и косметологом, которые помогут найти грамотное решение проблемы. 
            +blockMarked({ padding: 'small' }): p Но косметические средства — вспомогательные средства борьбы, главное — выяснить точную причину потери волос, а не заниматься самолечением поверхностных симптомов.
            p Как правило, облысение у мужчин — необратимый процесс. Борьба с заболеванием ведется постоянно, но мало кому удается решить проблему: нужно немало средств, терпение и силы. Некоторые мужчины со временем привыкают к своему новому образу, и не стремятся его изменить, но многие стесняются новой прически, пытаются ее замаскировать.
            ul.list-marked
              li Один и способов решения проблемы — пересадка волос, но эта дорогостоящая процедура не всегда дает результат: волос может не прижиться, перестать расти, и мужчина, переживший сложную операцию, снова возвращается к началу.
              li Другой способ возвращения шикарной шевелюры — это система волос (способ безоперационного замещения). Вариант маскировки облысения, который безвреден для здоровья, станет средством решения проблемы, независимо от возраста пациента. 
              li Выбрав систему волос, человек вернет себе уверенность, ведь она неотличима от собственных волос. При ношении системы человек всегда может быть уверен в собственной прическе, чего не скажешь об использовании парика.
            include /blocks/expert-notes-article-footer/expert-notes-article-footer
          +grid__item({m:3,xs:12})
            -
              var consCategories = [
                {name:'Алопеция',count:'8'},
                {name:'Выпадение волос у мужчин',count:'2'},
                {name:'Выпадение волос у женщин',count:'2'},
                {name:'Себорея',count:'1'},
                {name:'Парики и накладки',count:'1'},
                {name:'Методы',count:'1'},
              ]
            +pageSubection
              +consultationCategories(consCategories)
            +pageSubection
              include /blocks/expert-notes-aside/expert-notes-aside
