extends /blocks/layout-info/layout-info

block head
  -
    var pageTitle = 'Облысение у женщин – проблема века!'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Инфо','Заметки эксперта'],current:'Облысение у женщин – проблема века!'})
      h1 Облысение у женщин – проблема века!
      +pageSection
        +grid({paddingy: true, parLike:true})
          +grid__item({m:9,xs:12})
            p: img(src='/images/info/zametki/oblysenie-jenshina/oblysenie-u-zhenshchin-problema-veka/oblysenie-u-zhenshchin-problema-veka.jpg' alt='Облысение у женщин – проблема века!')
            p Для каждой женщины, столкнувшейся с проблемой облысения, «жизнь кончена». Так воспринимают пациентки проблему, считая, что далее, без былой красоты, жизнь теряет смысл. Если некоторые мужчины могут свыкнуться с незапланированной потерей волос, то из женщин мало кто способен с этим смириться. 
            p Облысение у девушки приносит массу неприятных ощущений:
            ul.list-marked.list-marked--w-prev-par
              li потерю уверенности в себе, 
              li ощущение постоянного дискомфорта в обществе, 
              li стресс,
              li психологическую нестабильность.
            h2 Милые дамы, не отчаивайтесь! 
            p Ведь если вы настроитесь, начнете искать выход, вы обязательно сможете решить ситуацию, кажущуюся безвыходной. 
            p Женское облысение — не приговор, это заболевание, которое требует повышенного внимания. Чтобы бороться с проблемой, нужно обладать специальными знаниями, а также желанием избавиться от нее. 
            p Поэтому, первое, что вы должны сделать, отправиться к врачу, который внимательно осмотрит волосы и изучит кожу головы. Трихолог определит, на какой стадии развитие заболевания, и какой вид облысения. Если вы недавно столкнулись с проблемой облысения у женщин, вам будет познавательно посмотреть фото патологии.
            h2 Типы облысения у женщин
            +grid({ paddig: 'y', 'parLike': true, 'justify': 'center' }): +grid__item({ l: 8, m: 10, xs: 12 }): img(src='/images/info/zametki/oblysenie-jenshina/oblysenie-u-zhenshchin-problema-veka/tipy-oblyseniya-u-zhenshchin.jpg' alt='Типы облысения у женщин')
            ul.list-marked
              li тотальная алопеция (на голове волосяной покров отсутствует),
              li андрогенная алопеция (волосинки становятся тонкими и редкими, наследственная форма заболевания);
              li очаговое облысение (отсутствие волос на отдельных участках);
              li диффузное облысение (волосы становятся редкими);
              li высокая передняя линия волос;
              li рубцовая алопеция (в местах выпадения волос образуются рубцы).
            +blockMarked({ padding: 'small' }): p Физиологичная норма — количество волос, которые должны выпадать ежедневно. За день у каждого человека может выпасть до 100 волосинок. 
            p Если волосы начали выпадать, это вовсе не означает, что начинается облысение. Принято считать, что если организм человека функционирует нормально, потеря быстро восполняется и остается незаметной.
            h2 Действия, если обнаружили облысение
            p При возникновении облысения необходимо обратиться к врачу. Если же процесс потери волос обратимый, человеку придется подождать некоторое время, прежде чем шевелюра восстановится. Поэтому, при наличии алопеции любого вида, необходимо задуматься о неоперабельных методах замещения волос. 
            p Первое, о чем в этой ситуации думает женщина, — это парик, но его использование неудобное. В нем жарко летом, кожа головы не дышит, создается дискомфорт. Как альтернатива парику создана система волос — метод нехирургического замещения волос, который дает естественный визуальный эффект. Окружающие люди даже не подумают о том, что у вас ненастоящие волосы, ведь их структура подбирается очень точно. 
            h2 Причины женского облысения
            p Как упоминалось выше, первой и незамедлительной реакцией на проблему должен стать визит к врачу. Не стоит откладывать его надолго, так как время играет не на вашей стороне! Врач-трихолог проведет осмотр, назначит клинические анализы. Возможно, понадобится компьютерная диагностика, чтобы определить структуру волос, их состояние и кожи головы. 
            p Причины облысения у женщин могут заключаться во внутренних либо внешних особенностях организма. 
            ul.list-marked
              li К внутренним можно отнести сбои в организме, включая нарушение обмена веществ. 
              li Среди внешних проблем: отрицательное влияние окружающей среды, воздействие ядовитых, химических веществ. 
              li Потерю волос способно вызвать даже ослабление организма из-за стрессовой ситуации, психологических нарушений. 
              li Травмы и инфекции, ушибы и резкое похудение — частые причины облысения. 
            p Вот почему, дорогие женщины, вы не должны слишком увлекаться суровыми диетами, ведь они способны вызвать такую ужасную проблему как облысение.
            ul.list-marked
              li Выпадение волос может начаться у женщин даже спустя месяцы после пережитого фактора, провоцирующего облысение. 
              li Обильное выпадение волос может длиться 3-4 недели. 
              li Если организм женщины сумеет восстановиться после перенесенного заболевания, волосы, в течение нескольких месяцев, восстановятся самостоятельно.
            p Внимание стоит уделить менопаузе — сложному периоду в жизни каждой женщины. Во время него происходит гормональная перестройка организма, в результате которой и может начаться выпадение волос. Поэтому женщина должна быть готова к такой проблеме. 
            p Не стоит сильно пугаться, ведь это временный процесс. Но на протяжении менопаузы нужно уделить волосам внимание: делать специальные маски, укрепляющие волосяные луковицы, пользоваться качественной косметикой для волос.
            h2 Лечение облысения у женщин
            p Вопрос, как лечить облысение у женщин, становится насущным с каждым годом! Потому заслуживает должного внимания. 
            p Бывают случаи, когда облысение у женщины не поддается лечению. Но это не означает, что явление навсегда. Главное — не отчаиваться и вовремя обратиться к врачу! Способ решения проблемы найти можно, главное — взяться за нее серьезно. 
            h2 Альтернатива парику и операции!
            p В безвыходной ситуации можно купить парик. Но альтернатива парику — система волос (способ безоперационного замещения волос). Она незаметна для окружающих, и не подведет в ответственный момент, в отличие от парика.
            ul.list-marked
              li Система волос крепится к голове крепко, возвращает человеку уверенность. 
              li Благодаря системе волос, вы сможете вести активный образ жизни: заниматься спортом, плаванием, прыгать с парашютом. 
              li У окружающих будет создаваться впечатление, что волосы ваши, ведь все будет выглядеть естественно, эстетично.
            p При помощи системы волос вы сможете начать жизнь заново, обрести уверенность, почувствовать себя очаровательной!
            include /blocks/expert-notes-article-footer/expert-notes-article-footer
          +grid__item({m:3,xs:12})
            -
              var consCategories = [
                {name:'Алопеция',count:'8'},
                {name:'Выпадение волос у мужчин',count:'2'},
                {name:'Выпадение волос у женщин',count:'2'},
                {name:'Себорея',count:'1'},
                {name:'Парики и накладки',count:'1'},
                {name:'Методы',count:'1'},
              ]
            +pageSubection
              +consultationCategories(consCategories)
            +pageSubection
              include /blocks/expert-notes-aside/expert-notes-aside
