extends /blocks/layout-info/layout-info

block head
  -
    var pageTitle = 'Рубцовая алопеция или Как бороться с облысением'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Инфо','Заметки эксперта'],current:'Рубцовая алопеция или Как бороться с облысением'})
      h1 Рубцовая алопеция или Как бороться с облысением
      +pageSection
        +grid({paddingy: true, parLike:true})
          +grid__item({m:9,xs:12})
            p: img(src='/images/info/zametki/alopetsiya/rubtsovaya-alopetsiya-ili-kak-borotsya-s-oblyseniem/rubtsovaya-alopetsiya-ili-kak-borotsya-s-oblyseniem.jpg' alt='')
            p Рубцовая алопеция — вид потери волос, при котором облысение начинается из-за повреждения фолликул. Повреждение необратимое, на его месте образуется рубцовая ткань. В результате разрушаются кутикулы волоса на поврежденных участках образуется чрезвычайно гладкая кожа без волосяного покрытия и луковиц.
            p При рубцовом облысении пациент теряет волосы незаметно для себя, а процесс может носить затяжной характер и длиться несколько лет. В некоторых случаях серьезных симптомов нет, но иногда наблюдаются небольшие болевые ощущения, зуд, жжение и т.д.
            h2 Факторы риска
            p Появлению заболевания способствуют следующие факторы:
            ul.list-marked.list-marked--w-prev-par
              li интоксикации организма,
              li воздействие ультрафиолетового облучения,
              li нарушение обмена веществ, нехватка витаминов и минералов,
              li расстройства эндокринной системы (гипотиреоз, сахарный диабет),
              li хроническая инфекция,
              li нарушение микроциркуляции крови.
            h2 Классификация
            p Трихологи называют три вида рубцовой алопеции:
            ul.list-marked.list-marked--w-prev-par
              li пятнистая: в зоне облысения кожа бледная, нет сосудистого рисунка,
              li пятнистая с эритемой: на безволосых участках кожа покрасневшая, сосудистый рисунок усилен,
              li пятнистая с гиперкератозом: кожа в зонах поражения сильно утолщается.
            h2 Стадии облысения
            p Врачи выделяют два вида данного заболевания: первичный и вторичный. 
            ul.list-marked.list-marked--w-prev-par
              li При первичной рубцовой алопеции разрушение волосяной луковицы происходит из-за воспалительного процесса. Медики классифицируют этот вид облысения по виду воспалительных клеток. Некоторые клетки разрушают волосяные фолликулы во время прогрессирования заболевания, а другие — во время его активной стадии.
              li Вторичную рубцовую алопециию вызывают опухоли, серьезные инфекции (вирусные и бактериальные), лучевая и химиотерапия, механические травмы и другие причины. Разрушение волосяной луковицы происходит внезапно и необратимо. Этот вид облысения встречается чаще.
            p В двух случаях фактором, запускающий разрушение волос, становится воспалительный процесс, охватывающий волосяные луковицы. 
            p: img(src='/images/info/zametki/alopetsiya/rubtsovaya-alopetsiya-ili-kak-borotsya-s-oblyseniem/stadii-oblyseniya.jpg' alt='')
            p В рубцовую форму может также перейти тяговая алопеция (другое название — тракционная). Развивается у женщин, сильно перетягивающих волосы: делают высокие прически, зачесывают волосы назад и перетягивают пряди на затылке. Если не отказаться от таких причесок, болезнь прогрессирует, пока не перейдет в стадию с уже необратимыми процессами: фолликулы повреждаются настолько, что прекращают деятельность. 
            p Эксперты выделяют причины, способствующие развитию заболевания:
            ul.list-marked.list-marked--w-prev-par
              li новообразования;
              li наследственные расстройства (недержание пигмента, ихтиоз, аплазия кожи);
              li специфические инфекции (к примеру, лепра, туберкулез, сифилис, лейшманиоз);
              li дефекты развития;
              li ранения, ушибы, ожоги (химические, тепловые) и иные физические травмы;
              li заболевания в конечной стадии развития (саркаидоз, плоский лишай, красная волчанка и т.д.).
            p Независимо от причин, вызвавших заболевание, на местах повреждения волосяных луковиц появляется рубцовая атрофия либо грубые рубцы. Каким образом образовываются рубцы: 
            ol.list-numbered.list-numbered--w-prev-par
              li Ткани повреждаются, клетки поврежденных тканей выделяют биологически активное вещество, которое запускает воспалительную реакцию. 
              li К месту повреждения скапливаются клетки, вырабатывают фибробласты (или коллаген). 
              li После выработки коллагена образовывается свежий рубец красного цвета, который возвышается над здоровой кожей. 
              li Рубец зреет 1-3 месяцев, постепенно бледнея, становится плоским. 
              li Через 4 месяца происходит трансформация рубца: пучки волокон коллагена вытягиваются, а сосуды исчезают. 
            +blockMarked({ padding: 'small' }): p При возникновении рубцовой алопеции симптомы варьируются, но один неизменный — появление рубцов в волосистой части головы.
            p В период синтеза коллагена может нарушаться рубцевание ткани: рубец становится не плоским, а келоидным, сильно выступающим над кожей либо впалым.
            h2 Варианты решения проблемы 
            p Лечение рубцовой алопеции должен назначать трихолог после тщательного осмотра. Врач определяет главное заболевание, вызвавшее рубцовую алопецию, и проводит хирургическую коррекцию, если это возможно.
            h3 Дополнительные методы
            ul.list-marked
              li Физиотерапия: врач назначает курс массажа головы, лазерное лечение, дарсонвализацию, электрофорез.
              li Косметологические процедуры: трихолог подбирает шампуни, лечебные маски и другие средства для ухода за волосами; проводят мезотерапию с витаминно-минеральными комплексами. 
            h3 Особенности хирургической коррекции
            p В рубцовой ткани отсутствует жировая клетчатка и сосуды, поэтому трансплантация волос не приносит никакого эффекта. Результата при операции можно добиться при удалении рубцов и наложении косметических швов.
            +grid({ parLike: true, justify: 'center' }): +grid__item({ l: 8, m: 10, xs: 12 }): img(src='/images/info/zametki/alopetsiya/rubtsovaya-alopetsiya-ili-kak-borotsya-s-oblyseniem/osobennosti-hirurgicheskoy-korrekcii.jpg' alt='')
            p Можно пересадить полноценный лоскут ткани с сосудами, волосяными луковицами и жировой клетчаткой. Современные хирурги часто используют специальный эспандер, чтобы растянуть ткань вокруг рубца. Излишек кожи, который образуется, способен закрыть место удаления рубца.
            h3 Альтернативное решение — безоперационное замещение волос
            p Но проводят операцию редко: выбирают альтернативные, результативные, и менее опасные и дорогостоящие методы. Например, использование системы волос. Ее создают из волос, идентичных волосам пациента по цвету и структуре, что дает косметический эффект. Система дарит пациенту радость жизни, и отсутствие чувства дискомфорта в обществе!
            include /blocks/expert-notes-article-footer/expert-notes-article-footer
          +grid__item({m:3,xs:12})
            -
              var consCategories = [
                {name:'Алопеция',count:'8'},
                {name:'Выпадение волос у мужчин',count:'2'},
                {name:'Выпадение волос у женщин',count:'2'},
                {name:'Себорея',count:'1'},
                {name:'Парики и накладки',count:'1'},
                {name:'Методы',count:'1'},
              ]
            +pageSubection
              +consultationCategories(consCategories)
            +pageSubection
              include /blocks/expert-notes-aside/expert-notes-aside
