.feedback-slider
  --swiper-pagination-color #e3d4b7
  position relative
  padding-x (basePadding * 4)
  margin-x (-(basePadding))
  overflow hidden
  @media (min-width point-xl)
    margin-x (-(basePadding * 4))
  @media (max-width point-s - 1) 
    padding-x 0
  &::before
  &::after
    content ''
    position absolute
    top 0
    z-index 2
    height 100%
    width (basePadding * 4)
    background-color #fff
    @media (max-width point-s - 1)
      content none
  &::before
    left 0
  &::after
    right 0
  &--shorts
    & ^[0]__navigation
      top 400px
      width (basePadding * 3)
    & ^[0]__video
      @media (max-width point-s - 1)
        width 100%
        max-width calc(100% - 50px)
        margin 0 auto
  &__wrapper
    z-index 1
    display grid
    grid-auto-flow column
    justify-content start
  &__slide
    position relative
    display flex
    align-items flex-start
    & .block-marked
      display flex
      flex-direction column
      width 100%
      height 100%
      padding-y 0
      margin-inline 0
      @media (max-width point-s - 1)
        padding-inline basePadding
  &__video
    position relative
    margin-right (basePadding * 2)
    padding-top (basePadding*2.3333)
    z-index 2
    @media (max-width point-s - 1)
      margin-right 0
    &--hidden
      display none
    &.iframe-responsive
      margin-bottom 0
      .iframe-responsive__iframe
        margin-bottom 0
  &__info
    position relative
    z-index 1
    flex-grow 1
    margin-bottom 2.18747rem
    margin-top (basePadding * -2)
    margin-left (basePadding * 2)
    padding-top (basePadding * 3)
    @media (max-width point-s - 1)
      margin-left 0
      padding-x basePadding
  &__navigation
    --color-background #636363
    --color-background-hover #3d3d3d
    position absolute
    top 50%
    z-index 3
    width (basePadding * 4)
    height (basePadding * 2.5)
    padding 0
    background-color var(--color-background)
    border none
    transform-origin 50% 50% 0
    mask-image url(../images/arrow.svg)
    mask-repeat no-repeat
    mask-position center
    mask-size contain
    // @media (max-width point-s - 1)
    //   display none
    &:hover
      background-color var(--color-background-hover)
    &--prev
      left 0
      transform translateY(-50%)
    &--next
      right 0
      transform translateY(-50%) rotate(180deg)
    &--disabled
      --color-background #B7B7B7
      --color-background-hover var(--color-background)
      cursor default
  &__pagination
    display flex
    justify-content center
    padding-top basePadding
  &__image
    padding-top 2.18746875rem
    cursor pointer
    @media(max-width point-s - 1)
      max-width calc(100% - 50px)
      margin 0 auto
    img
      position relative
      z-index 100
      @media(min-width point-s - 1)
        aspect-ratio 247/454
        object-fit contain
  &__layer 
    position absolute
    inset 0
    width calc(100% - 48px)
    height calc(100% - 60px)
