.header-top
  .header-top__item.header-top__item--logo
    include ../logo/logo
  .header-top__item.header-top__item--info
    .header-top__name Центр&nbsp;замещения утраченных&nbsp;волос
    .header-top__city Санкт-Петербург
  .header-top__item.header-top__item--contacts.hidden-s.hidden-xs
    +grid({ 'paddingy': true, align: 'center' })
      +grid__item(): .header-top__time
        | пн-пт: с 10:00 до 21:00
        br
        | сб-вс: с 10:00 до 19:00
      +grid__item(): a(href='+78122453738').header-top__phone +7 (812) 245-37-38
      +grid__item(): .header-top__calloffer
        a(href='#' onclick='Comagic.openSitePhonePanel()').btn Заказать звонок
