mixin productsPaymentDelivery( settings )
  -
    settings = settings ? settings : {}
    settings.type = settings.type ? settings.type : 'delivery'
    const className = settings.type ? `products-payment-delivery--${settings.type}` : ''
    const header = settings.type == 'delivery' ? 'Доставка' : 'Оплата'
  .products-payment-delivery( class != className )
    h2.products-payment-delivery__header !{header}
    block
