extends /blocks/layout/layout

include  /blocks/footer-staff/footer-staff
include  /blocks/link-social/link-social

block head
  -
    var pageTitle = 'Контакты'
    var pageDescription = ''
    var pageKeywords = ''
block content
  - const smallFooter = true
  .container
    .content
      +breadcrumbs({parents:['Главная'],current:'Контакты'})
      h1 Бесплатная онлайн консультация
      +pageSection
        p Онлайн-консультация&nbsp;&mdash; это оптимальный вариант 
          strong получить ответы на&nbsp;вопросы
          |  и&nbsp;
          strong подобрать систему волос
          | , когда нет возможности лично посетить нас.
        +blockMarked({padding: 'small'})
          +textMarked Фиксируем цены на&nbsp;системы несмотря на&nbsp;рост курса, для тех, кто записался на&nbsp;консультацию до&nbsp;конца апреля.
        h2 Записаться на&nbsp;онлайн-консультацию
        +grid({parLike: true, cols: 11})
          +grid__item({m:5,xs:11})
            h3 Отправьте заявку через форму
            +form({
              inputs: [
                {type: 'text', name: 'name', id: 'form-name', label: 'Имя', required: true},
                {type: 'tel', name: 'phone', id: 'form-phone', label: 'Телефон', required: true}
              ],
              submit: 'Отправить',
            })
            p Перезвоним вам и&nbsp;назначим дату онлайн консультации, выберем подходящее для вас приложение для видеосвязи: WhatsApp, Viber или Skype.
            p Если нет возможности воспользоваться видеосвязью, то&nbsp;общение продолжится по&nbsp;электронной почте или по&nbsp;телефону. Просим выслать нам на&nbsp;
              a(href='mailto:mail@hairdesign.ru') почту
              |  фото проблемной зоны головы.
          +grid__item({m:1,xs:11}): p(style='text-align: center;'): +textMarked Или
          +grid__item({m:5,xs:11})
            p: +textMarked Позвоните нам +7 (812) 385-01-51
            p: strong Или
            +blockMarked({padding: 'small'}) 
              +grid({align: 'center', justify: 'center', nowrap: true})
                +grid__item({})(style='display: flex')
                  +linkSocial({href:'viber://chat?number=79215710124', type: 'viber'})
                  +linkSocial({href:'https://wa.me/79215710124', type: 'whatsapp'})
                  +linkSocial({href:'', type: 'telegram'})(onclick='event.preventDefault()')
                +grid__item({}): p Напишите нам в&nbsp;Viber, WhatsApp или Telegram по&nbsp;номеру 
                  span(style='white-space: nowrap') +7 (921) 571 01 24
                  | .
            p: strong Или
            +blockMarked({padding: 'small'}) Оставьте 
              a(href='#' onclick='event.preventDefault(); Comagic.openSitePhonePanel()') заявку на&nbsp;обратный звонок
      +pageSection
        +grid({parLike: true})
          +grid__item({m:6,xs:12})
            h3 Что будет на онлайн консультации?
            p Общаясь по видеосвязи, мы:
            ol.list-numbered.list-numbered--w-prev-par
              li Посмотрим вашу проблемную зону головы
              li Подробно расскажем про услугу замещения волос, о&nbsp;способах фиксации и&nbsp;о&nbsp;вариантах дальнейшего обслуживания системы волос
              li Рекомендуем вам метод замещения, который лучше всего подойдет в&nbsp;вашем конкретном случае.
              li Обязательно покажем варианты основ системы волос, цветовую
              li Ответим на&nbsp;все ваши вопросы
              li Отправим инструкцию для снятия мерок и/или поможем их&nbsp;снять во&nbsp;время консультации.
            h3 Как проходит заказ системы волос удаленно?
            ol.list-numbered.list-numbered--w-prev-par
              li Если вас все устраивает, мы&nbsp;оформляем заказ и&nbsp;договор. Вы&nbsp;получаете сканированную копию договора с&nbsp;нашими реквизитами и&nbsp;печатью.
              li После получения&nbsp;50% предоплаты ваш заказ отправляется в&nbsp;производство.
              li Ближе к&nbsp;дате получения заказа в&nbsp;Санкт-Петербурге мы&nbsp;обязательно связываемся с&nbsp;вами любым из&nbsp;удобных вам способом, уточняем точную дату получения заказа.
              li Когда заказ в&nbsp;Санкт-Петербурге получен, мы&nbsp;можем опять связаться с&nbsp;вами, показать вам систему. Обсуждаем, какие фиксаторы вам необходимы. Выбираем наиболее подходящие.
              li Оплата второй части заказа на&nbsp;наш расчетный счет
              li Отправка системы волос курьерской службой по&nbsp;указанному вами адресу (доставка оплачивается отдельно курьеру, стоимость зависит от&nbsp;региона получения).
              li Если необходимо, оказываем консультации по&nbsp;самостоятельной фиксации и&nbsp;уходу за&nbsp;системой волос.
          +grid__item({m:6,xs:12})
            -
              const staff = [
                {img:'/images/footer/raisa-eronen.jpg', name: 'Раиса Еронен', position:'Администратор-консультант',alt:'Администратор Раиса Еронен',href:''},
                {img:'/images/footer/tatyana-ermolaeva.jpg', name: 'Татьяна Ермолаева', position:'Администратор-консультант',alt:'Администратор Татьяна Ермолаева',href:''},
              ]
            +grid({paddingy:true})
              each item in staff
                +grid__item({xs:6})
                  +footerStaff(item)
block styles
  +style('inner')
