extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Этапы замещения волос'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include ../data/prices
  .container
    .content
      +breadcrumbs({parents:['Главная'],current:'Этапы замещения волос'})
      +pageSection
        h1 Этапы замещения волос
        h2 Консультируем и подбираем систему
        +grid({parLike:true,paddingy:true})
          +grid__item({m:8,xs:12})
            p Приходите в&nbsp;центр. Расскажем о&nbsp;системе волос и&nbsp;процедуре за&nbsp;&laquo;закрытой дверью&raquo;. Мы&nbsp;уважаем ваше желание не&nbsp;рассказывать окружающим о&nbsp;вашей проблеме с&nbsp;волосами.
          +grid__item({m:4,s:6,xs:12})
            p: a(href='/o-kompanii/zametki/kak-zakazat-inogorodnim.html') В&nbsp;другом городе или не&nbsp;можете приехать на&nbsp;консультацию?
        include ../blocks/banner-hermitage/banner-hermitage
        -
          const stages = [
            {
              img: '/images/etapy-zameshcheniya-volos/gallery-1.jpg',
              title: 'Покажем видеоролики',
              body: {tag:'p',content:'как происходит процедура, фотографии результатов и&nbsp;крупных планов фиксации новых волос к&nbsp;коже головы.'},
            },
            {
              img: '/images/etapy-zameshcheniya-volos/gallery-2.jpg',
              title: 'Посмотрите и&nbsp;потрогаете образцы систем.',
              body: {tag:'p',content:'Можно примерить вариант уже готовой системы волос.'},
            },
            {
              img: '/images/etapy-zameshcheniya-volos/gallery-3.jpg',
              title: 'Обсудим, какой цвет подходит, какую стрижку будете носить.',
              body: {tag:'p',content:'На&nbsp;консультации присутствует мастер, который потом будет фиксировать систему.'},
            },
            {
              img: '/images/etapy-zameshcheniya-volos/gallery-4.jpg',
              title: 'Примерите систему за&nbsp;&laquo;закрытой дверью&raquo;',
              body: {tag:'p',content:'Мы&nbsp;уважаем ваше желание не&nbsp;рассказывать окружающим о&nbsp;вашей проблеме с&nbsp;волосами.'},
            },
          ]
        +listStepsIllustrated({list:stages,settings:{noNumbers:true, imgBorder:true}})
        +grid({parLike:true,paddingy:true})
          +grid__item({m:8,xs:12})
            h2 Устанавливаем
            p В&nbsp;стоимость входит интеграция системы волос: фиксация и&nbsp;стрижка.
        h3 Посмотрите на&nbsp;манекен Анну. Так происходят фиксация на&nbsp;клей.
        -
          let fixSteps = [
            {
              img: '/images/fiksatsiya/foursteps-1.jpg',
              title: 'Убираем волосы с головы, где прилегает система',
            },
            {
              img: '/images/fiksatsiya/foursteps-2.jpg',
              title: 'Наносим бесцветный клей',
            },
            {
              img: '/images/fiksatsiya/foursteps-3.jpg',
              title: 'Приклеиваем систему',
            },
            {
              img: '/images/fiksatsiya/foursteps-4.jpg',
              title: 'Подстригаем',
            },
          ]
        +listStepsIllustrated(fixSteps)
        +grid({parLike:true,paddingy:true})
          +grid__item({m:8,xs:12})
            p Фиксация клеем используется при частичной потери волос: на&nbsp;макушке или 3/4&nbsp;части. 
            p При полном облысении и&nbsp;иногда при частичном можно 
              a(href='/produktsiya/') применять скотч.
            h2 Хотите индивидуальную систему? &mdash;&nbsp;мы&nbsp;изготовим ее&nbsp;на&nbsp;заказ
            p Кроме готовых систем интеграции волос, которые вы&nbsp;можете купить прямо в&nbsp;салоне, мы&nbsp;делаем системы под заказ. Вы&nbsp;выбираете цвет, структуру, густоту, длину и&nbsp;способ фиксации.
            p Цвет волос подберем из&nbsp;готовых систем в&nbsp;салоне. Если заказываете не&nbsp;посещая салон, сможете выбрать по&nbsp;образцам Estel, они совпадают с&nbsp;нашими. Образцы Estel бывают в&nbsp;парикмахерских, где красят волосы. Чтобы цвет точно совпал с&nbsp;вашим, возьмем как образец клочок ваших волос и&nbsp;изготовим в&nbsp;точности такой&nbsp;же цвет. Системе на&nbsp;заказ можно сделать эффект отросших волос, мелирование или пряди других цветов.
            p Готовые системы волос стандартной густоты&nbsp;&mdash; средней, а&nbsp;на&nbsp;заказ можно сделать любой, например &laquo;плотной шапкой&raquo;. На&nbsp;заказ можно выбрать структуру волос: прямые, волнообразные или кудрявые.
            p Длину выберем примерив похожие готовые системы. Снимем размеры головы, для изготовления индивидуальной системы. Система будет повторять рельеф головы, плотно сидеть, как вторая кожа.
            p Перед изготовлением системы, мы&nbsp;заключим договор. Нужно внести предоплату 50%.
            p Сравните 
              a(href='/tseny/') стоимость изготовления индивдуальной системы и&nbsp;покупки уже готовой.
          +grid__item({xs:12})
            h2 Расскажем как ухаживать за&nbsp;волосами
          +grid__item({m:8,xs:12})
            p Система волос состоит из&nbsp;натуральных волос, и&nbsp;правильный уход продлит ее&nbsp;службу.
            p Чтобы волосы на&nbsp;системе волос сохраняли свой оттенок как можно дольше, рекомендуется мыть систему шампунем для окрашенных волос или шампунем для сухих поврежденных волос.
            p Рекомендуем мыть волосы по&nbsp;направлению роста. После нанесения кондиционера или маски расчесывать волосы, а&nbsp;потом смывать. Сушить аккуратно теплым (не&nbsp;горячим) воздухом.
            p Чтобы волосы не&nbsp;путались (это особенно касается длинных волос), перед посещением бассейна или водоема сделайте аккуратную косичку, уберите волосы наверх. Желательно использовать шапочку для купания, особенно в&nbsp;бассейне.
            p Расскажем подробно, как ухаживать за&nbsp;волосами. Как, при необходимости, снять и&nbsp;надеть систему. Дадим с&nbsp;собой 
              a(href='/instruktsii/') инструкции.
          +grid__item({m:4,xs:12})
            +blockMarked({smallPadding:true})
              h3 Услуги парикмахера для системы волос
              p Система волос полностью заменит ваши собственные волосы. Вам может потребоваться укладка перед важным мероприятием, сменить цвет или подстричь ваши отросшие волосы.
              p Мы&nbsp;оказываем услуги парикмахера для людей с&nbsp;
                a(href='/sistema-volos/') системой замещения волос
                | :
                br
                a(href='/uslugi/okraska-sistemy-volos/') окраска волос
                | ,
                br
                a(href='/uslugi/ukladka-i-pricheska-sistemy-volos/') укладка и&nbsp;прическа
                | ,
                br
                a(href='/uslugi/remont/') ремонт системы волос
                | ,
                br
                a(href='/uslugi/perefiksatsiya-sistemy-volos/') перефиксация
        +blockMarked({smallPadding:true,marginTop:true})
          +blockMarkedContent({lifted:true,marked:true})
            +grid({paddingy:true,align:'center'})
              +grid__item({m:8,xs:12})
                +textMarked Скидка на&nbsp;первый заказ&nbsp;25%, повторный заказ в&nbsp;течение 6&nbsp;месяцев&nbsp;&mdash; 40%
              +grid__item({m:4,xs:12})
                a(href='/tseny/') о&nbsp;ценах и&nbsp;скидках
block styles
  +style('inner')
