extends /blocks/layout/layout

include /blocks/discounts-slide/discounts-slide
include /blocks/home-system/home-system

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content.block-marked.block-marked--padding-small
      p.text-marked.text-align--center #[strong -14%] на самую дорогую парикмахерскую услугу в чеке

  +pageSection
    .container
      .content.banner-love
        +grid({paddingy:true}).banner-love__container
          +grid__item({ l:4, m:12, s:12 }).banner-love__column
            +grid
              +grid__item({ l:12, m:6 })
                p.banner-love__title #[span Дарим подарки от&nbsp;всего сердца!]
                p.banner-love__choose Выбери свою скидку:
              +grid__item({ l:12, m:6 })
                p.banner-love__discount.banner-love__discount--all #[span -14%] #[strong для всех] с&nbsp;14&ndash;28&nbsp;февраля
          +grid__item({ l:3, m:5, s:6, xs:6 }).banner-love__column
            .banner-love__inner.banner-love__inner--man
              +img({
                name: 'man',
                path: '/images/banner-love/',
                formats: [
                  { ext: 'png', mime: 'image/jpeg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                  { values: [1, 2] }
                ]
              })(width=240 height=240 alt='-23% всем мужчинам с 20-23 февраля').banner-love__img
            p.banner-love__discount #[span -23%] #[strong всем мужчинам] с&nbsp;20&ndash;23 февраля
          +grid__item({ l:3, m:5, s:6,xs:6 }).banner-love__column
            .banner-love__inner.banner-love__inner--woman
              +img({
                name: 'woman',
                path: '/images/banner-love/',
                formats: [
                  { ext: 'png', mime: 'image/jpeg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ],
                density: [
                  { values: [1, 2] }
                ]
              })(width=225 height=220 alt='-8% всем женщинам с 6-8 марта').banner-love__img
            p.banner-love__discount #[span -8%] #[strong всем женщинам] с&nbsp;6&ndash;8 марта
        p.banner-love__service *скидки предоставляются на самую дорогую #[strong парикмахерскую услугу] центра в чеке

  +pageSection     
    .container
      .content.banner-new-year
        p.banner-new-year__title В преддверии #[span 2023] года...
        p.banner-new-year__discount #[span Дарим скидку ]  #[br]  на все системы волос!
        p.banner-new-year__duration Предложение действует только до&nbsp;30&nbsp;декабря

  +pageSection
    +homeSubtitle.discounts-header Акции
    p.text-align.text-align--center Скидки применяются при наличной форме оплаты.
    .discounts-slider: .discounts-slider__slider
      .swiper-wrapper.discounts-slider__wrapper  
        +discountsSlide({
          title: 'Скидка <mark>15%</mark> на уход для кожи головы от ProHairLabs:',
          image: 'ProHairLabs',
          href: 'https://hairsystems.ru/promo/',
          countDate: '2025, 03, 01',
        }).swiper-slide
          ul.list-marked
            li Очищающий гель-скраб для кожи головы Remove&nbsp;All
            li Очищающая маска для кожи головы Dermal&nbsp;Mud
          p Профессиональный уход с выгодой 540 ₽!
        +discountsSlide({
          title: 'Скидка <mark>10%</mark> на жидкие и ленточные фиксаторы, ремуверы',
          image: 'remover',
          href: 'https://hairsystems.ru/promo/',
          countDate: '2025, 03, 01',
        }).swiper-slide
          p Большой выбор брендов и товаров для фиксации систем волос в нашем каталоге.
        +discountsSlide({
          title: 'Антиперсперант NoSweat для кожи головы <mark>в подарок</mark>',
          image: 'nosweet',
          href: '/produktsiya/',
          countDate: '2023, 10, 01',
        }).swiper-slide
          p Получи подарок при покупке любых 3-х клеев Ghost Bond 38 мл
        +discountsSlide({
          imageLeft: 'integration-1',
          deadline: 'До 31.08.2023',
          title: 'Скидка <mark>25%</mark>',
          clarification: 'Успей приобрести с выгодой до 11 475 руб.',
          image: 'integration-2',
          href: 'https://hairsystems.ru/catalog/systems/filter/cover_type-is-top/apply/',
        }).swiper-slide
          p на системы волос на верхнюю часть головы – Integration, Classic, Skin, Q6 #[br] #[small *в стоимость не входит стрижка и фиксация]
        +discountsSlide({
          deadline: 'До 31.08.2023',
          title: 'Скидка <mark>20%</mark>',
          clarification: '<strike>25 000 руб.</strike>  <span class="text-marked">20 000 руб.</span>',
          image: 'vs',
          href: 'https://hairsystems.ru/catalog/systems/filter/cover_type-is-top/apply/',
        }).swiper-slide
          p на системы волос на верхнюю часть головы – VS, French skin #[br] #[small *в стоимость не входит стрижка и фиксация]
        +discountsSlide({
          title: 'Получи <mark>подарочный сертификат</mark>',
          clarification: 'Акция действует за 3 дня до <br> и 3 дня после дня рождения',
          image: 'banner-birthday',
        }).swiper-slide
          p номиналом <strong><mark>3000 рублей</mark> в&nbsp;день рождения</strong> при покупке изделия из&nbsp;натуральных волос!
        +discountsSlide({
          title: 'Подарок для наших клиентов — <small>первая стрижка и фиксация бесплатно!</small>',
          clarification: 'Успей приобрести систему волос «Интеграция» в октябре с выгодой до 3 000 руб.',
          image: 'banner-free-haircut',
          countDate: '2022, 11, 18',
          countNum: '1',
        }).swiper-slide
        +discountsSlide({
          title: 'Скидки на накладки из натуральных волос до <mark>20%</mark>',
          image: 'overlay',
          countDate: '2023, 07, 01',
          countNum: '2',
          href: 'https://hairsystems.ru/catalog/systems/filter/cover_type-is-top/apply/?PAGEN_1=2',
        }).swiper-slide 
          p При покупке накладки из натуральных волос <strong>скидка <mark>20%</mark></strong>. 
        +discountsSlide({
          title: 'Скидки на системы до <mark>10%</mark>',
          clarification: 'Успей приобрести систему волос с выгодой до 19 700 руб!',
          image: 'discounts-slide-full',
          countDate: '2023, 06, 01',
          countNum: '2',
          href: 'https://hairsystems.ru/catalog/systems/filter/cover_type-is-full/apply/',
        }).swiper-slide  
          p При покупке системы волос на полный объём головы <strong>скидка <mark>10%</mark></strong>. 
        +discountsSlide({
          title: 'Скидки на&nbsp;ленточные фиксаторы&nbsp;<mark>10%</mark>',
          image: 'discounts-slide-fix',
          countDate: '2023, 06, 01',
          countNum: '2',
          href: 'https://hairsystems.ru/materialy-dlya-fiksatsii/',
        }).swiper-slide  
          p При покупке ленточных фиксаторов <strong>скидка <mark>10%</mark></strong>. 
        +discountsSlide({
          title: 'Стрижка и фиксация <mark>бесплатно</mark>',
          clarification: 'Успей приобрести систему волос с выгодой до 10 400 руб!',
          image: 'discounts-slide-3',
          countDate: '2022, 11, 18',
          countNum: '3',
        }).swiper-slide
          p При покупке системы на верхнюю часть головы <strong>скидка <mark>10%</mark> + первая стрижка и фиксация или профессиональная <mark>косметика Estel /Tefia в подарок!</mark></strong>
        +discountsSlide({
          title: 'Популярные модели',
          clarification: 'Экономия до 9 000 руб!',
          image: 'discounts-slide-4',
          countDate: '2023, 06, 01',
          countNum: '4',
        }).swiper-slide
          p <mark>-25%</mark> на модель SKIN <del>36 000 р.</del> → <mark>27 000 р.</mark>
          p <mark>-15%</mark> на модель INTEGRATION <del>33 000 р.</del> → <mark>28 000 р.</mark>
          p: strong: mark Установка и стрижка в подарок

      button(type='button').discounts-slider__navigation.discounts-slider__navigation--prev
      button(type='button').discounts-slider__navigation.discounts-slider__navigation--next
      .discounts-slider__pagination
  +blockMarked({color: 'dark', padding: 'small'})
    .container
      .content(style='text-align: center;')
        +blockMarkedContent({'marked': true})
          p(style='line-height: 2rem;') С 28 марта по 30 апреля Центр Дизайна Волос будет закрыт.
            br
            strong
              a(href='/zakaz-sistemy-volos-udalenno/') Принимаем
              |  и выдаем заказы на системы волос, консультируем – удаленно.
            br
            | Записывайтесь
            a(href='/kontakty/besplatnaya-onlayn-konsultatsiya/') на онлайн консультацию
            |  или
            a(href='/kontakty/zapisatsya-v-list-ozhidaniya/') в лист ожидания.
            br
            | Консультации в WhatsApp, Viber, Telegram по номеру +7 (921) 571-01-24
            br
            | Предварительная запись к мастерам по телефону +7 (812) 385-01-51
  include /blocks/home-header/home-header
  include /blocks/banner-credit/banner-credit
  +pageSection: .container: .content
    include /blocks/banner-summer-action/banner-summer-action
  +pageSection
    .container
      .content
        +homeSubtitle Что такое замещение утраченных волос?
        include /blocks/block-marked-whatis/block-marked-whatis
  +pageSection
    .container
      .content
        +homeSubtitle Что можно делать с HAIR SYSTEM?
        -
          const possibilities = [
            {title:'Спать', className:'possibilities-sleep'},
            {title:'Мыться и ходить в баню', className:'possibilities-wash'},
            {title:'Плавать', className:'possibilities-swim'},
            {title:'Заниматься активным спортом', className:'possibilities-sport'},
          ]
        +listAdvantages(possibilities)
  +pageSection
    .container
      .content
        +homeSubtitle 3&nbsp;шага к&nbsp;вашей новой шевелюре
        -
          const path = '/images/home/';
          const formats = [
            { ext: 'jpg', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ]
          const threeSteps = [
            {
              img: { name: 'foursteps-1', path, formats },
              title:'Консультация в&nbsp;нашем центре или по&nbsp;телефону',
              body: [
                {tag: 'p', content: 'Консультант-администратор расспросит о&nbsp;симптомах, степени облысения. Расскажет про стоимость и&nbsp;запишет на&nbsp;бесплатный прием.'},
                {tag: 'p', content: '<a href="#appointment-anchor-ss">Записаться на&nbsp;консультацию</a>'}
              ]
            },
            {
              img: { name: 'foursteps-2', path, formats },
              title:'Подбор готовой системы волос или индивидуальный заказ',
              body: [
                {tag: 'p', content: [
                    'Покажем образцы, подберем цвет, длину, основу.<br>Систему можно купить в&nbsp;этот&nbsp;же день. Если системы в&nbsp;наличии не&nbsp;подойдут, то&nbsp;ее&nbsp;можно заказать по&nbsp;индивидуальным рамерам.'
                  ]
                },
                {tag: 'p', content: '<a href="/etapy-zameshcheniya-volos/" class="btn-arrow">Как происходит подбор</a>'}
              ]
            },
            {
              img: { name: 'foursteps-4', path, formats },
              title:'Фиксация системы',
              body: [
                {tag: 'p', content: 'Зафиксируем на&nbsp;голове, подстрегем, сделаем прическу. По&nbsp;желанию завьем или сделаем укладку.'},
                {tag: 'p', content: '<a href="/fiksatsiya/" class="btn-arrow">Как происходит фиксация</a>'}
              ]
            },
          ]
        +grid({justify:'center',parLike:true})
          +grid__item({m:10,xs:12})
            +listStepsIllustrated(threeSteps)
  include /blocks/banner-hermitage/banner-hermitage
  +pageSection
    .container
      .content
        +homeSubtitle Как происходит замещение волос при частичном облысении
        +tabs.home-tabs
          +tab({name: 'алопеция'})
            +blockMarked({marginTop: true})
              +grid({paddingy: true})
                +grid__item({m:8,xs:12})
                  +blockMarkedContent({lifted: true})
                    +youtubeResponsive('EHEtnVujZKI')
                +grid__item({m:4,xs:12})
                  +blockMarkedContent()
                    +blockMarkedQuote
                      p Впервые я&nbsp;сюда попал 12&nbsp;лет назад с&nbsp;&laquo;проблемой&raquo;. С&nbsp;тех пор &laquo;проблемы&raquo; ушли. Потому что первое, что волновало будет&nbsp;ли система вести себя нормально. Под системой я&nbsp;называю волосяной покров. Будет&nbsp;ли она нормально себя вести в&nbsp;экстремальных условиях. Потому что я&nbsp;занимаюсь дайвингом, экстремальными видами спорта. Потом я&nbsp;очень много времени провожу в&nbsp;командировках от&nbsp;месяца до&nbsp;полутора. Проблем нет, ребята, я&nbsp;и&nbsp;ныряю и&nbsp;в&nbsp;сауну хожу и&nbsp;в&nbsp;командировку матаюсь по&nbsp;полтора месяца, не&nbsp;каких проблем. Вот так, все надежно, все держится.
          +tab({name: 'андрогенетическая алопеция'})
            +blockMarked({marginTop: true})
              +grid({paddingy: true})
                +grid__item({m:8,xs:12})
                  +blockMarkedContent({lifted: true})
                    +youtubeResponsive('aUw8hx2LHVI')
                +grid__item({m:4,xs:12})
                  +blockMarkedContent()
                    +blockMarkedQuote('Всеволод<br>частичное облысение на макушке')
                      p Многие мои знакомые вообще не&nbsp;поняли, что со&nbsp;мной произошло. Они просто считают, что я&nbsp;помолодел на&nbsp;10&nbsp;лет.
                      p Не&nbsp;каких физических неудобств я&nbsp;не&nbsp;испытывал.
                      p Это лучший метод в&nbsp;алтернативу парикам и&nbsp;подсаживаниям
          +tab({name: 'очаговая алопеция'})
            +blockMarked({marginTop: true})
              +grid({paddingy: true})
                +grid__item({m:8,xs:12})
                  +blockMarkedContent({lifted: true})
                    +youtubeResponsive('KuM3lieIRPk')
                +grid__item({m:4,xs:12})
                  +blockMarkedContent()
                    p Очаговая алопеция, напасть с&nbsp;которой сталкиваются не&nbsp;только мужчины, но&nbsp;и&nbsp;прекрасная половина человечества, мы&nbsp;помогаем справляться с&nbsp;проблемами всем. На&nbsp;данном видео запечатлена наша клиента, которая уже долгое время пользуется услугами &laquo;Центра Дизайна волос&raquo;, и&nbsp;как видите, результат наших трудов&nbsp;&mdash; улыбка, прекрастное настроение и&nbsp;конечно&nbsp;же уверенность в&nbsp;себе! Разве нужны еще какие-то комментарии?
          +tab({name: 'тотальная алопеция'})
            +blockMarked({marginTop: true})
              +grid({paddingy: true})
                +grid__item({m:8,xs:12})
                  +blockMarkedContent({lifted: true})
                    +youtubeResponsive('aO2dB8O2m4s')
                +grid__item({m:4,xs:12})
                  +blockMarkedContent()
                    +blockMarkedQuote('Наталья<br>тотальная алопеция')
                      p Являюсь клиентом центра с 2012 года. На первом же посещении покорил профессионализм, доброжелательное и тактичное отношение персонала. С тех пор с моей проблемой побывала у трех мастеров :Екатерины, Ирины, Натальи. С их лёгкой руки стрижки и укладки системы волос смотрятся не хуже своих волос. А какую шикарную укладку мне сделала Наталья на день рождения!!! Администраторы Раиса и Татьяна выше всяких похвал!!! Благодарю руководство студией Ольгу за прекрасный подбор персонала. Благодаря вам я не чувствую дискомфорта из-за моей проблемы.
  
  +pageSection
    .container
      .content
        +homeSubtitle Преимущества замещения волос
        +homeTextMarked Hair system невозможно купить в&nbsp;обычном магазине.
          br
          | Вы&nbsp;получаете изделие, кардинально отличающееся от&nbsp;всех существующих аналогов:
        -
          const advantages = [
            {title:'Без операций и&nbsp;таблеток', className:'advantages-no-pills', image: 'advantages-no-pills'},
            {title:'Невозможно отличить на&nbsp;ощупь или визуально', className:'advantages-unnoticed', image: 'advantages-unnoticed'},
            {title:'Держится так&nbsp;же прочно, как и&nbsp;ваши собственные волосы', className:'advantages-strength', image: 'advantages-strength'},
            {title:'Индивидуально подбирается размер, густота, длина и&nbsp;оттенок волос', className:'advantages-individual', image: 'advantages-individual'},
            {title:'Возможность носить систему постоянно и&nbsp;вести привычный образ жизни', className:'advantages-everyday'},
            {title:'Используемые материалы экологичны и&nbsp;совершенно безопасны', className:'advantages-safety'},
            {title:'Противопоказания отсутствуют', className:'advantages-contradictions'},
            {title:'Возможность моделирования: любая прическа и&nbsp;стрижка', className:'advantages-hairstyle'},
          ]
        +listAdvantages(advantages)
  +pageSection
    .container
      .content   
        +homeSubtitle Виды систем и накладок   
        +homeTextMarked Выбери свою систему с оптимальным соотношением цены и качества.               
        -
          const systems = [
            {
              title: 'Стандартные готовые <br>(Китай)',
              price: '25000-112999₽',
              list: ['В наличии <strong>153</strong> модели', 'Мужские и женские', 'На полный объем головы, 3/4 или только верхнюю часть'],
              text: 'В нашем каталоге большой выбор систем и накладок, если вы не готовы ждать или изделие требуется срочно',
              link: 'Каталог',
              href: 'https://hairsystems.ru/catalog/',
            },
            {
              title: 'Индивидуальные <br>под заказ (Китай)',
              price: '60000-142599₽',
              list: ['Изделия выполненные по стандартам постижерных фабрик', 'Изготовление по индивидуальным меркам, <strong>с учетом ваших особенностей и пожеланий</strong>', 'Срок изготовления 6-8 месяцев'],
              text: 'Чтобы система идеально подходила вам и была комфортна в использовании требуется снятие слепка, который затем отправляется в Китай',
              link: 'Цены',
              href: '/tseny/',
              mod: 'active',                 
            },
            {
              title: 'Индивидуальные <br>под заказ (Россия)',
              price: '17500-250499₽',
              list: ['Эксклюзивные изделия премиум качества', '<strong>Ручная работа</strong>', '<strong>100%</strong> натуральный <strong>славянский</strong> волос', 'Срок изготовления до 3-х месяцев'],
              text: 'Вы можете выбрать волосы: текстуру, пористость и толщину, цвет. Изготовление в нашем ателье дает возможность выполнять индивидуальные заказы в короткий срок',
              link: 'Сайт ателье',
              href: 'https://wigartspb.ru/',
            },
          ]
        +homeSystem(systems)       
         

  +pageSection 
    +homeSubtitle.home-subtitle--color-red Ищем моделей
    include /blocks/banner-model/banner-model
    
  +pageSection
    .container
      .content
        +homeSubtitle Стоимость системы на&nbsp;заказ
        -
          const priceForMen = {
            title: 'для мужчин',
            list: [
              {className:'for-men-top', title:'Верхняя часть головы', price:'44&nbsp;800&nbsp;&mdash; 46&nbsp;080 руб.'},
              {className:'for-men-three-fourties', title:'3/4 головы', price:'54&nbsp;400&nbsp;&mdash; 55&nbsp;680 руб.'},
              {className:'for-men-full', title:'Вся голова', price:'67&nbsp;200&nbsp;&mdash; 68&nbsp;480 руб.'},
            ]
          }
          const priceForWomen = {
            title: 'для женщин',
            list: [
              {className:'for-women-top', title:'Верхняя часть головы', price:'44&nbsp;800&nbsp;&mdash; 54&nbsp;400 руб.'},
              {className:'for-women-three-fourties', title:'3/4 головы', price:'54&nbsp;400&nbsp;&mdash; 64&nbsp;000 руб.'},
              {className:'for-women-full', title:'Вся голова', price:'67&nbsp;200&nbsp;&mdash; 76&nbsp;800 руб.'},
            ]
          }
        +homePrice(priceForMen)
        +homePrice(priceForWomen)
        +grid({parLike:true})
          +grid__item({m:6,s:8,xs:12})
            p Цены варьируются в&nbsp;зависимости от&nbsp;длины волос (от&nbsp;20&nbsp;до&nbsp;60&nbsp;см)
          +grid__item({m:6,s:4,xs:12})
            a(href='/tseny/').btn-arrow Смотреть все цены
  +pageSection
    .container
      .content
        +homeSubtitle Стоимость готовой системы
        +homeTextMarked Готовые системы в&nbsp;наличии в&nbsp;центре замещения волос.
          br
          | Поможем подобрать длину, цвет, основу к&nbsp;которой крепятся волосы.
        -
          const priceReady = {
            title: 'для женщин и мужчин',
            list: [
              {title:'Верхняя часть головы<br>15&nbsp;сантиметров', price:'15&nbsp;000&nbsp;&mdash; 20&nbsp;000 руб.', image: false},
              {title:'3/4 головы<br>20&nbsp;и&nbsp;30&nbsp;сантиметров', price:'19&nbsp;200&nbsp;&mdash; 28&nbsp;800 руб.', image: false},
              {title:'Вся голова<br>30&nbsp;и&nbsp;45&nbsp;сантиметров', price:'38&nbsp;400&nbsp;&mdash; 44&nbsp;800 руб.', image: false},
            ]
          }
        +homePrice(priceReady)
  +pageSection
    .container
      .content
        +homeSubtitle Результат безоперационного восстановления волос
        +pageSubection
          include /blocks/block-marked-result/block-marked-result
  
        +pageSubection
          -
            const beforeAfter = {
              items: [
                {
                  images:{
                    before:'/images/before-after/before-after-1-1.jpg',
                    after:'/images/before-after/before-after-1-2.jpg'
                  },
                  name:'Всеволод',
                  desc:'андрогенная алопеция'
                },
                {
                  images:{
                    before:'/images/before-after/before-after-2-1.jpg',
                    after:'/images/before-after/before-after-2-2.jpg'
                  },
                  name:'Александр',
                  desc:'андрогенная алопеция'
                },
                {
                  images:{
                    before:'/images/before-after/before-after-3-1.jpg',
                    after:'/images/before-after/before-after-3-2.jpg'
                  },
                  name:'Анастасия',
                  desc:'очаговая алопеция(частичное облысение на макушке-гнездное облысение)'
                },
              ]
            }
          +beforeAfter(beforeAfter)
  +pageSection
    .container
      .content
        +homeSubtitle Отзывы
        +pageSubection.feedback-slider
          .swiper-wrapper.feedback-slider__wrapper
            .swiper-slide.feedback-slider__slide: +blockMarked({ color: 'medium', padding: 'medium' })
              +youtubeResponsive('OPVLRsPg_fo').feedback-slider__video
              +blockMarkedContent({ marked: true }).feedback-slider__info
                p После каждой переустановки волос я забываю, что у меня когда-то не было волос. Я живу с ними как со своими родными и каждое утро просыпаясь, я полон жизни и радости. Потому что раньше я чувствовал себя немножко неуверенно, потому что раньше был какой-то комплекс.
            .swiper-slide.feedback-slider__slide: +blockMarked({ color: 'medium', padding: 'medium' })
              +youtubeResponsive('aUw8hx2LHVI').feedback-slider__video
              +blockMarkedContent({ marked: true }).feedback-slider__info
                p Многие мои знакомые вообще не поняли, что со мной произошло. Они просто считают, что я помолодел на 10 лет.  Никаких физических неудобств я не испытывал. Это лучший метод в альтернативу парикам и подсаживаниям. Советую всем, кто хочет помолодеть!
            .swiper-slide.feedback-slider__slide: +blockMarked({ color: 'medium', padding: 'medium' })
              +youtubeResponsive('EHEtnVujZKI').feedback-slider__video
              +blockMarkedContent({ marked: true }).feedback-slider__info
                p Впервые я сюда попал 12 лет назад с проблемами и первое, что волновало будет ли система себя нормально вести в экстремальных условиях: занимаюсь дайвингом и экстремальными видами спорта. Я и ныряю, и в сауну хожу, и в командировки мотаюсь по 1,5 месяца - никаких проблем! Все надежно, все держится.
            .swiper-slide.feedback-slider__slide: +blockMarked({ color: 'medium', padding: 'medium' })
              +youtubeResponsive('Iqt7KkGgf5M').feedback-slider__video
              +blockMarkedContent({ marked: true }).feedback-slider__info
                p В париках абсолютно некомфортно: летом жарко, зимой холодно. Я очень рада, что есть такая штука (*система волос). Вы волшебницы! Это просто что-то невозможное!
            .swiper-slide.feedback-slider__slide: +blockMarked({ color: 'medium', padding: 'medium' })
              +youtubeResponsive('FR_CNVj_bgk').feedback-slider__video
              +blockMarkedContent({ marked: true }).feedback-slider__info
                p Подумал дай попробую, уж хуже-то не будет. Качество на высоте и цвет совпал точно. Центр Дизайна Волос, круто, что я к вам попал. После посещения центра самооценку поднял, благодаря вам и я бруталом стал.
          button(type='button').feedback-slider__navigation.feedback-slider__navigation--prev
          button(type='button').feedback-slider__navigation.feedback-slider__navigation--next
          .feedback-slider__pagination
        +pageSubection
          +grid({ 'par-like': true, padding: 'y', align: 'center' })
            +grid__item({ l: 2, m: 3, xs: 5 }): a(href='/otzyvy/').btn-arrow Все отзывы
            +grid__item({ l: 3, m: 3, xs: 7 }): a(href='#form-review' data-fancybox).btn Добавить отзыв
          div(style='display: none')
            #form-review(style='width: 100%; max-width: 480px')
              h2 Оставить отзыв
              +form({
                inputs: [
                  {type: 'text', name:'name', label:'Имя', id:'feedback-form-name'},
                  {type: 'email', name:'email', label:'E-mail<br><small style="font-size: 0.75rem; font-style: italic">Не публикуем на сайте, просто ответим спасибо</small>', id:'feedback-form-email'},
                  {type: 'textarea', name:'message', label:'Отзыв', id:'feedback-form-message'},
                  {type: 'checkbox', name:'agreement', checked: true, required: true, label: 'Нажимая на кнопку, я даю свое согласие на обработку своих персональных данных.', id: 'feedback-form-agreement'}
                ],
                submit:'Отправить'
              })
  +pageSection
    .container
      .content
        +homeSubtitle Центр замещения волос в&nbsp;Санкт-Петербурге
        +blockMarked({marginTop:true})
          +grid({paddingy: true})
            +grid__item({m:5, xs:12})
              h4 Открылись летом 2002 года
              p За&nbsp;это время мы&nbsp;накопили богатый опыт и&nbsp;сделали счастливыми сотни клиентов.
              h4 Скидки до 40% любимым клиентам
              p В&nbsp;нашем салоне в&nbsp;Санкт-Петербурге действует гибкая система скидок для новых и&nbsp;постоянных клиентов.
                br
                a(href='/tseny/') Все скидки
              h4 Коррекция фиксации, покраска, стрижка
              p Мы&nbsp;предоставляем гарантированное сервисное обслуживание для клиентов.
              h4 Изготавливаем индивидуальные системы волос
              p Каждому клиенту мы&nbsp;подходим индивидуально, учитывая его проблему.
            +grid__item({m:7, xs:12})
              +blockMarkedContent({lifted:true})
                -
                  const path = '/images/kontakty/';
                  const width = '';
                  const height = '';
                  let fotorama = {
                    list: [
                      { image: 'office-0', format: 'jpg', path, width, height, video: 'https://www.hairdesign.ru/video/office-0', poster: '/images/kontakty/office-0.webp' },
                      { image: 'office-1', format: 'jpg', path, width, height },
                      { image: 'office-2', format: 'jpg', path, width, height },
                      { image: 'office-3', format: 'jpg', path, width, height },
                      { image: 'office-4', format: 'png', path, width, height },
                      { image: 'office-5', format: 'jpg', path, width, height },
                      { image: 'office-6', format: 'jpg', path, width, height },
                      { image: 'office-7', format: 'jpg', path, width, height },
                      { image: 'office-8', format: 'jpg', path, width, height },
                      { image: 'office-9', format: 'jpg', path, width, height },
                      { image: 'office-10', format: 'jpg', path, width, height },
                      { image: 'office-11', format: 'jpg', path, width, height },
                    ]
                  }
                +fotorama(fotorama)
block styles
  +style('home')
