extends /blocks/layout-info/layout-info
include /blocks/recommended-item/recommended-item

block head
  -
    var pageTitle = 'Система замещения волос - форум и консультация'
    var pageDescription = ''
    var pageKeywords = ''
    var noFullFooter = true
block content
  .container
    .content
      +breadcrumbs({parents:['Главная'],current:'Консультация'})
      +pageSection
        h1 Онлайн консультация по вопросам потери волос
        +grid({parLike:true,paddingy: true})
          +grid__item({m:9,xs:12})
            +pageSubection
              include /blocks/consultation/consultation-ask-panel/consultation-ask-panel
            +pageSubection
              include /data/consultation-list
              +consultationList(consItems)
            +pageSubection
              include /blocks/pagination/pagination
            
            +pageSubection
              h2 Рекомендуем вам
              -
                const recommendations = [
                  {
                    title: 'Загустители волос',
                    img: 'toppik',
                    body: `<p>Универсальные средства для маскировки залысин, седины и придания густоты редеющим волосам.</p><ul class='list-marked'><li>15 оттенков</li><li>Не осыпается и не боится непогоды</li><li>Безопасен для волос</li></ul>`, 
                    tabs: true,
                    button: 'Каталог',
                    href: 'https://zagustitelvolos.com/catalog/',
                  },
                  {
                    title: 'Система волос',
                    img: 'system',
                    body: `<p>Система волос — натуральный волосяной покров на тончайшей основе. Поможем подобрать систему, а также надёжно зафиксировать.</p><ul class='list-marked'><li>Незаметна для окружающих</li><li>Надежная фиксация</li><li>Можно носить постоянно</li></ul>`, 
                    video: true,
                    button: 'Узнать о замещении волос',
                    href: 'https://hairsystems.ru/catalog/',
                  },
                  {
                    title: 'Парики',
                    img: 'wig',
                    body: `<p>Различные марки изделий из волос как натуральных, так и из моноволокна.</p>`, 
                    button: 'Подобрать парик',
                    product: true,    
                    href: 'https://vsepariki.com/catalog/pariki/',
                  },
                  {
                    title: 'Накладки',
                    img: 'wig',
                    body: `<p>Различные марки изделий из волос как натуральных, так и из моноволокна.</p>`, 
                    button: 'Подобрать накладку',
                    product: true,  
                    href: 'https://vsepariki.com/catalog/nakladki/',
                  },
                  {
                    title: 'Головные уборы',
                    img: 'hat',    
                    body: `<p>Различные виды изделий немецкого производителя для веселенного, летнего или осеннего сезона.</p>`, 
                    button: 'Подобрать шапочку',
                    product: true,
                    href: 'https://vsepariki.com/catalog/golovnye-ubory/',
                  },
                  {
                    title: 'Лечебная косметика для волос',
                    img: 'treatment',        
                    body: `<p>В ассортименте магазина представлены:</p><ul class='list-marked'><li>Защитные средства от повреждения волос</li><li>Лечебные и косметические средства</li><li>От перхоти и себореи</li></ul>`, 
                    button: 'Каталог средств',
                    cosmetics: true,    
                    href: 'https://triholog.org/',
                  },
                  {
                    title: 'Лечебная косметика от перхоти и себореи',
                    img: 'dandruff',        
                    body: `<p>Быстро и результативно справиться с этими проблемами поможет профессиональная лечебная косметика от перхоти и себореи. Вы сможете подобрать антисеборейный шампунь и лосьон, которые устраняют перхоть, зуд, снимают воспаление, регулируют выработку кожного сала.</p>`, 
                    button: 'Каталог средств',
                    cosmetics: true,
                    href: 'https://triholog.org/filter/ot-perkhoti-i-seborei',
                  },
                  {
                    title: 'Препараты для лечения волос',
                    img: 'medical',        
                    body: `<p>В каталоге интернет-магазина можно найти маски, бальзамы, лосьоны, спреи, шампуни, которые восстанавливают естественную структуру волос, укрепляют фолликулы, формируют защитную плёнку на всей протяжённости каждого волоса.</p>`, 
                    button: 'Каталог средств',
                    cosmetics: true,   
                    href: 'https://triholog.org/filter/dlya-uluchsheniya-struktury-volos',
                  },
                  {
                    title: 'Лечебная косметика для ослабленных волос',
                    img: 'weak',        
                    body: `<p>Применяя шампунь и маску для придания объёма волосам, а также витализирующий спрей из нашего каталога, вы восстановите свои волосы, увлажните их, напитаете их полезными веществами, вернёте им здоровье.</p>`, 
                    button: 'Каталог средств',
                    cosmetics: true,  
                    href: 'https://triholog.org/filter/dlya-oslablennykh-volos',
                  },
                  {
                    title: 'Лечебная косметика от выпадения волос',
                    img: 'loss',        
                    body: `<p>В каталоге, вы сможете подобрать лучшее средство от облысения: активный тоник, восстанавливающую маску и лосьон, интенсивный шампунь. Все эти средства укрепляют волосы и останавливают их выпадение.</p>`, 
                    button: 'Каталог средств',
                    cosmetics: true,   
                    href: 'https://triholog.org/filter/dlya-lecheniya-vypadeniya-volos',
                  },
                  {
                    title: 'Лечебная косметика от андрогенной алопеции',
                    img: 'androgen',        
                    body: `<p>Гель «Кудзитол» или препарат «Эвкапил» из нашего каталога спустя короткий промежуток времени помогут добиться значительного укрепления волос, а также остановить их выпадение.</p>`, 
                    button: 'Каталог средств',
                    cosmetics: true,
                    href: 'https://triholog.org/filter/dlya-lecheniya-androgennoj-alopetsii',
                  },
                  {
                    title: 'Лечебная косметика при очаговом облысении',
                    img: 'focal',        
                    body: `<p>Тоники и лосьоны «Чжангуан» из нашего каталога спустя короткий промежуток времени помогут добиться значительного укрепления волос, а также остановить их выпадение.</p>`, 
                    button: 'Каталог средств',
                    cosmetics: true,
                    href: 'https://triholog.org/filter/dlya-lecheniya-ochagovogo-oblyseniya',
                  },
                  {
                    title: 'Лечебная косметика для стимуляции роста волос',
                    img: 'stimulation',        
                    body: `<p>Благодаря своей активной формуле, лосьоны и шампуни Optima позволяют остановить выпадение и стимулировать рост новых волос, поддерживают оптимальное состояние кожи головы, обладает эффектом anti-age терапии, повышают плотность волос.</p>`,
                    button: 'Каталог средств',
                    cosmetics: true,    
                    href: 'https://triholog.org/filter/dlya-stimulyatsii-rosta-volos',
                  },
                ]
              
              each item in recommendations
                +recommendedItem(item)    

          +grid__item({m:3,s:6,xs:12})
            +consultationCategories(consCategories)
        
block styles
  +style('inner')
