extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Инструкции'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include ../data/prices
  .container
    .content
      +breadcrumbs({parents:['Главная'],current:'Инструкции'})
      +pageSection
        h1 Инструкции
        +grid({paddingy: true, parLike:true})
          +grid__item({m:8,xs:12})
            -
              let instructions = [
                {
                  href: 'kak-nadevat-i-snimat-sistemu-volos.html',
                  title: 'Как надевать и снимать систему волос',
                  body: {
                    tag: 'p', content: 'У опытных клиентов этот процесс занимает не более 30 минут. Если вы делаете впервые, воспользуйтесь услугами наших профессионалов. Если у Вас нет возможности посетить наш “Центр Дизайна Волос” рекомендуем найти "своего" парикмахера-универсала или попросить о помощи близких людей. Правильно выполненная фиксация обеспечит ее надежность крепления и позволит дольше носить систему волос.'
                  },
                  readmore: true
                },
                {
                  href: 'kak-snyat-merki-dlya-sistemy-zameshcheniya-foto.html',
                  title: 'Как снять мерки для системы замещения [фото]',
                  body: {
                    tag: 'p', content: 'Пошаговая инструкция с фотографиями процесса. Самостоятельное снятие мерок необходимо, когда нет возможности приехать в Центр дизайна волос для изготовления слепка.'
                  },
                  readmore: true
                },
                {
                  href: 'kak-ukhazhivat-za-sistemoy.html',
                  title: 'Как ухаживать за системой',
                  body: {
                    tag: 'p', content: 'Умный уход за париком из натуральных волос позволяет существенно пролонгировать срок службы и обеспечить комфортную эксплуатацию. К тому же это чрезвычайно экономично. Правильная эксплуатация системы волос позволяет увеличить срок её службы на 45-70% (с 8-9 до 16-18 месяцев).'
                  },
                  readmore: true
                },
              ]
            +articlesList(instructions)
block styles
  +style('inner')
