extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Как заказать систему волос из китая?'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include ../data/prices
  .container
    .content
      +breadcrumbs({parents:['Главная', 'О компании','Заметки эксперта'],current:'Как правильно заказывать систему волос или зачем мы работаем?'})
      +pageSection
        h1 Как правильно заказывать систему волос или зачем мы работаем?
        +grid({paddingy: true, parLike:true})
          +grid__item({m:9,xs:12})
            p Салоны, которые оказывают услуги в&nbsp;сфере безоперационного замещения волос, работают примерно по&nbsp;одному принципу. Мы&nbsp;принимаем заказы у&nbsp;клиентов на&nbsp;изготовление системы волос, размещаем заказ у&nbsp;своих поставщиков&nbsp;&mdash; изготовителей систем, а&nbsp;затем оказываем услуги по&nbsp;установке и&nbsp;обслуживанию изделий.
            p В&nbsp;последнее время Интернет-сообщество становится все более активным и&nbsp;грамотным в&nbsp;плане поиска информации о&nbsp;производителях систем волос, которые, в&nbsp;основном, находятся в&nbsp;Китае. Да, информация об&nbsp;этом открыта, и&nbsp;китайские компании с&nbsp;удовольствием принимают даже индивидуальные заказы по&nbsp;очень приемлемым ценам.
            p Вот здесь возникает для нас очень неприятный момент. Заказчики начинают распространять в&nbsp;сети нелестную информацию о&nbsp;салонах, оказывающих данные услуги. Речь идет обычно о&nbsp;спекулятивных, неоправданно высоких ценах, ну&nbsp;и&nbsp;попутно критикуется качество.
            h2 Можно&nbsp;ли заказать систему волос из&nbsp;китая с&nbsp;хорошим качеством?
            p Как человек, работающий в&nbsp;этой сфере более 10&nbsp;лет, я&nbsp;бы хотела внести некоторую ясность в&nbsp;этот вопрос. Имея богатый опыт работы с&nbsp;китайскими компаниями, могу отметить, что основным недостатком небрендовых китайских производителей является нестабильное качество продукции. Вы&nbsp;можете получить как отменное качество волос и&nbsp;материалов (особенно при первых заказах), так и&nbsp;совершенную противоположность. Никакой замены и&nbsp;возврата денег точно не&nbsp;будет. Имейте в&nbsp;виду, что получив однажды прекрасное изделие, вы&nbsp;необязательно получите такое&nbsp;же качество в&nbsp;следующий раз. Опыт говорит как раз об&nbsp;обратном.
            p Салоны, подобные нашему, в&nbsp;той или иной степени гарантируют, что вы&nbsp;получите&nbsp;то, что нужно. Если этого не&nbsp;происходит, то&nbsp;предусмотрена замена изделия или возврат денег. Мы&nbsp;работаем по&nbsp;законам РФ. При корректном оформлении отношений с&nbsp;поставщиком с&nbsp;ним заключен договор, он&nbsp;зарегистрирован в&nbsp;банке. При прохождении таможни, оплачиваются пошлины и&nbsp;налоги. В&nbsp;прошлом мы&nbsp;также получали на&nbsp;эти изделия санитарно-эпидемиологические заключения от&nbsp;Роспотребнадзора (в&nbsp;настоящее время они отменены). Потребители у&nbsp;нас защищены. К&nbsp;тому&nbsp;же всем хочется сохранить свою репутацию и&nbsp;доброе имя.
            p Второй слабый момент при индивидуальных заказах&nbsp;&mdash; отсутствие каких-либо стандартов: цветовая палитра, густота, типы узлов, материалы основы. Есть огромное количество разновидностей. И&nbsp;даже если &laquo;ваш китайский друг&raquo; вроде&nbsp;бы говорит по-русски или на&nbsp;ломаном английском, очень сложно с&nbsp;ним договориться при отсутствии общей терминологии.
            p У&nbsp;нас эти моменты отработаны, и&nbsp;мы&nbsp;всегда знаем, как и&nbsp;что заказывать для какого-либо случая. Поверьте, для этого требуется немалый опыт. И&nbsp;он&nbsp;стоит дорого.
            p Салон&nbsp;&mdash; это не&nbsp;просто место, где команда специалистов зарабатывает деньги. Наша задача не&nbsp;только привезти для вас качественное изделие, но&nbsp;и&nbsp;обеспечить высокий уровень обслуживания, качество сопутствующих товаров и&nbsp;профессиональные консультации.
            p Мы&nbsp;работаем, чтобы повысить качество жизни людей, которые испытывают серьезные проблемы с&nbsp;волосами. Да, мы&nbsp;тратим деньги на&nbsp;рекламу, да, мы&nbsp;получаем денежное вознаграждение за&nbsp;свою работу. Но&nbsp;при этом мы&nbsp;делаем очень важное и&nbsp;нужное для многих дело. Наши постоянные клиенты, это, если хотите&nbsp;&mdash; члены нашей семьи (и&nbsp;это не&nbsp;просто высокие слова). А&nbsp;в&nbsp;семье принято заботиться друг о&nbsp;друге.
            p Мы&nbsp;гордимся тем, что мы&nbsp;делаем, и&nbsp;постоянно работаем над тем, чтобы наши клиенты чувствовали себя счастливыми!
            include /blocks/expert-notes-article-footer/expert-notes-article-footer
          +grid__item({m:3,xs:12})
            include /blocks/expert-notes-aside/expert-notes-aside
block styles
  +style('inner')
