extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Фото и видео наших клиентов по замещению волос'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include ../data/prices
  .container
    .content
      +breadcrumbs({parents:['Главная'],current:'Клиенты'})
      +pageSection
        h1 Фото и видео наших клиентов по замещению волос
        +grid({paddingy: true, parLike:true})
          +grid__item({m:8,s:10,xs:12})
            p С&nbsp;2002 года около 500 клиентов обрели новую шевелюру с&nbsp;нашей помощью.&nbsp;87&nbsp;постоянно посещают салон, чтобы сменить имидж или получить помощь по&nbsp;уходу за&nbsp;системой волос и&nbsp;своими волосами: постричься, окрасить волосы или заказать новую систему.
            p Любим своих клиентов и&nbsp;соблюдаем конфиденциальность посещения нашего центра.
            p Есть бравые храбрецы, которые согласились сделать фото системы волос, за&nbsp;что мы&nbsp;им&nbsp;очень благодарны.
        include /blocks/block-marked-result/block-marked-result
      +pageSection
        h2 Фото до и после замещения волос
        -
          const beforeAfter = {
            items: [
              {
                images:{
                  before:'/images/before-after/before-after-1-1.jpg',
                  after:'/images/before-after/before-after-1-2.jpg'
                },
                name:'Всеволод',
                desc:'андрогенная алопеция'
              },
              {
                images:{
                  before:'/images/before-after/before-after-2-1.jpg',
                  after:'/images/before-after/before-after-2-2.jpg'
                },
                name:'Александр',
                desc:'андрогенная алопеция'
              },
              {
                images:{
                  before:'/images/before-after/before-after-3-1.jpg',
                  after:'/images/before-after/before-after-3-2.jpg'
                },
                name:'Анастасия',
                desc:'очаговая алопеция(частичное облысение на макушке-гнездное облысение)'
              },
              {
                images:{
                  before:'/images/before-after/before-after-1-1.jpg',
                  after:'/images/before-after/before-after-1-2.jpg'
                },
                name:'Всеволод',
                desc:'андрогенная алопеция'
              },
              {
                images:{
                  before:'/images/before-after/before-after-2-1.jpg',
                  after:'/images/before-after/before-after-2-2.jpg'
                },
                name:'Александр',
                desc:'андрогенная алопеция'
              },
              {
                images:{
                  before:'/images/before-after/before-after-3-1.jpg',
                  after:'/images/before-after/before-after-3-2.jpg'
                },
                name:'Анастасия',
                desc:'очаговая алопеция(частичное облысение на макушке-гнездное облысение)'
              },
            ]
          }
        +beforeAfter(beforeAfter)
      +pageSection
        +pageSubection
          h2 Видео процедуры замещения утраченных волос при андрогенетической алопеции
          +blockMarked({marginTop: true})
            +grid({paddingy: true})
              +grid__item({m:8,xs:12})
                +blockMarkedContent({lifted: true})
                  +youtubeResponsive('aUw8hx2LHVI')
              +grid__item({m:4,xs:12})
                +blockMarkedContent()
                  p Многие мои знакомые вообще не&nbsp;поняли, что со&nbsp;мной произошло. Они просто считают, что я&nbsp;помолодел на&nbsp;10&nbsp;лет.
                  p Не&nbsp;каких физических неудобств я&nbsp;не&nbsp;испытывал.
                  p Это лучший метод в&nbsp;алтернативу парикам и&nbsp;подсаживаниям
        +pageSubection
          h2 Видео интеграции волос, очаговая алопеция
          +blockMarked({marginTop: true})
            +grid({paddingy: true})
              +grid__item({m:8,xs:12})
                +blockMarkedContent({lifted: true})
                  +youtubeResponsive('KuM3lieIRPk')
              +grid__item({m:4,xs:12})
                +blockMarkedContent()
                  p Очаговая алопеция, напасть с&nbsp;которой сталкиваются не&nbsp;только мужчины, но&nbsp;и&nbsp;прекрасная половина человечества, мы&nbsp;помогаем справляться с&nbsp;проблемами всем. На&nbsp;данном видео запечатлена наша клиента, которая уже долгое время пользуется услугами &laquo;Центра Дизайна волос&raquo;, и&nbsp;как видите, результат наших трудов&nbsp;&mdash; улыбка, прекрастное настроение и&nbsp;конечно&nbsp;же уверенность в&nbsp;себе! Разве нужны еще какие-то комментарии?
        +pageSubection
          h2 Видео снятия слепка, первой стрижки и&nbsp;фиксации
          +blockMarked({marginTop: true})
            +grid({paddingy: true})
              +grid__item({m:8,xs:12})
                +blockMarkedContent({lifted: true})
                  +youtubeResponsive('aO2dB8O2m4s')
              +grid__item({m:4,xs:12})
                +blockMarkedContent()
                  p На&nbsp;видео наша постоянная клиентка&nbsp;&mdash; Наталья. У&nbsp;Натальи тотальная алопеция, у&nbsp;нее практически не&nbsp;осталось своих волос, для нее мы&nbsp;сделали слепок для изготовления индивидуальной системы волос.
                  p Перед оформлением заказа, мы&nbsp;проверяем соответствие размера слепка с&nbsp;размером головы.
                  p В&nbsp;заказе Наталья выбрала цвет волос&nbsp;&mdash; &#8470;&nbsp;24, длину&nbsp;&mdash; 40&nbsp;см.
          +grid({paddingy: true, parLike:true})
            +grid__item({m:8,xs:12})
              p Первую стрижку и&nbsp;фиксацию системы волос Наталья сделала у&nbsp;нашего мастера, так как Наталья любит длинные волосы, стрижкой мы&nbsp;только придали форму.
              p Наталья является нашим постоянным клиентом с&nbsp;2012&nbsp;года, отмечает удобство кабинетной системы обслуживания и&nbsp;сервис, предоставляемый нашими мастерами.
              p Даже с&nbsp;тотальной алопецией&nbsp;Вы можете почувствовать себя обычным клиентом салона красоты.
        +pageSubection
          h2 Установка системы волос
          +grid({paddingy: true, parLike:true})
            +grid__item({m:8,xs:12})
              +blockMarked({marginTop: true})
                +blockMarkedContent({lifted: true})
                  +youtubeResponsive('SM3P0cmN2N8')
block styles
  +style('inner')
