extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Задать вопрос консультанту'
    var pageDescription = ''
    var pageKeywords = ''
block content
  - var smallFooter = true
  .container
    .content
      +breadcrumbs({parents:['Главная','Консультация'],current:'Задать вопрос консультанту'})
      +pageSection
        h1 Задать вопрос консультанту
        +grid({parLike:true,paddingy: true})
          +grid__item({m:7,s:8,xs:12})
            include /blocks/consultation/consultation-ask-form/consultation-ask-form.pug
          +grid__item({m:5,s:4,xs:12})
            p Ответим на&nbsp;все вопросы.
            p Обычно отвечаем в&nbsp;течение дня.
            p Но&nbsp;если мы&nbsp;сильно загружены, придется подождать пару дней.
            p В&nbsp;любом случае ответ пришлем на&nbsp;вашу почту.
block styles
  +style('inner')
