extends /blocks/layout/layout
include /blocks/recommended-item/recommended-item

block head
  -
    var pageTitle = 'Система замещения волос - форум и консультация'
    var pageDescription = ''
    var pageKeywords = ''
    var noFullFooter = true
block content
  .container
    .content
      +breadcrumbs({parents:['Главная'],current:'Консультация'})
      +pageSection
        +grid({parLike:true,paddingy: true})
          +grid__item({m:9,xs:12})
            +pageSubection
              -
                var consultationQuestion = {
                  title: 'Максимальный срок службы системы волос',
                  body: 'А если заказать самый дорогой и индивидуальный заказ,какое в таком случае максимально возможное время несения этой системы допустим 4 месяца или шесть? И второй вопрос,возможно ли допустим заказать сразу таких 3-5 штук и после заканчивае срока первой,в домашних условиях поставить вторую?',
                  author: 'Давид, Ростов',
                  date: '29.07.2018'
                }
              +consultationQuestion(consultationQuestion)
            +pageSubection
              -
                var consultationQuestion = {
                  title: 'Максимальный срок службы системы волос',
                  author: 'Давид, Ростов',
                  date: '29.07.2018'
                }
              +consultationQuestion(consultationQuestion)
            +pageSubection
              -
                var consultationAnswer = {
                  author: {
                    name:'Ольга Лейтес',
                    occupation: 'директор',
                    details: 'Контролирую каждую процедуру замещения от консультации до установки. Проконсультирую по способам оплаты, времени приема, как заказать удаленно.'
                  },
                  photo: '/images/o-kompanii/leytes.jpg',
                  body: 'Видимо, речь идет о системе волос Интеграция, которая чаще всего применяется для максировки области облысения при андрогенетической алопеции. Цена на такую систему зависит от того, насколько часто вы ее заказываете. Подробно об этом написано на сайте в разделе цен. Качество системы не зависит от того, сколько она стоит. Дело в том, что натуральный вид такой системы напрямую связан с тонкостью ( а значит - недолговечностью) основы. Есть системы, основы которых позволяют их носить полгода и дольше, но вы будете ограничены в выборе стрижки, надо будет следить за тем, чтобы краевая линия была закрыта. Система волос стрижется прямо на голове. Если вы сможете самостоятельно установить систему и подстричь с помощью мастера, которому вы можете доверять, то да, это возможно.',
                  category: 'Иногородним: снятие мерок, доставка, самостоятельная фиксация'
                }
              +consultationAnswer(consultationAnswer)
            +pageSubection
              h2 Рекомендуем вам
              -
                const recommendations = [
                  {
                    title: 'Загустители волос',
                    img: 'toppik',
                    body: `<p>Универсальные средства для маскировки залысин, седины и придания густоты редеющим волосам.</p><ul class='list-marked'><li>15 оттенков</li><li>Не осыпается и не боится непогоды</li><li>Безопасен для волос</li></ul>`, 
                    tabs: true,
                    button: 'Каталог',
                    href: 'https://zagustitelvolos.com/catalog/',
                  },
                  {
                    title: 'Система волос',
                    img: 'system',
                    body: `<p>Система волос — натуральный волосяной покров на тончайшей основе. Поможем подобрать систему, а также надёжно зафиксировать.</p><ul class='list-marked'><li>Незаметна для окружающих</li><li>Надежная фиксация</li><li>Можно носить постоянно</li></ul>`, 
                    video: true,
                    button: 'Узнать о замещении волос',
                    href: 'https://hairsystems.ru/catalog/',
                  },
                  {
                    title: 'Парики',
                    img: 'wig',
                    body: `<p>Различные марки изделий из волос как натуральных, так и из моноволокна.</p>`, 
                    button: 'Подобрать парик',
                    product: true,    
                    href: 'https://vsepariki.com/catalog/pariki/',
                  },
                ]

              each item in recommendations
                +recommendedItem(item)
                
            +pageSubection
              h2 Похожие вопросы
              -
                let cons = [
                  {
                    title: 'А можно ли как-то приклеить систему волос на свои очень жидкие волосы? Или это делается только на лысую голову? СПАСИБО,',
                    name: 'Елена, Якутск',
                    date: '04.04.2013'
                  },
                  {
                    title: 'Мне несколько раз приклеивали интеграцию на виски и затылочную область - отклеивается через день -два.У Вас не бывает таких случаев?',
                    name: 'Ксения',
                    date: '19.10.2009'
                  },
                ]
              +consultationListSmall(cons)
            +pageSubection
              include /blocks/consultation/consultation-ask-panel/consultation-ask-panel
          +grid__item({m:3,s:6,xs:12})
            +consultationCategories(consCategories)
block styles
  +style('inner')
