extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Ленты для системы волос'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include ../data/prices
  .container
    .content
      +breadcrumbs({parents:['Главная', 'О компании','Заметки эксперта'],current:'Ленты для системы волос'})
      +pageSection
        h1 Ленты для системы волос
        +grid({paddingy: true, parLike:true})
          +grid__item({m:9,xs:12})
            p Ленточный фиксатор или фиксирующие полоски используют для фиксации системы волос. Стандартный ленточный фиксатор продается в&nbsp;форме полосок 7-10&nbsp;см или в&nbsp;виде с&nbsp;общей длиной ленты 2,74&nbsp;метра. Такого ролика хватит, примерно, на&nbsp;9-12 установок системы на&nbsp;всю голову.
            p Ленточный фиксатор проще для применения в&nbsp;случае, если вам необходимо фиксировать систему волос самостоятельно, без посторонней помощи. Фиксировать систему на&nbsp;жидкий фиксатор самостоятельно мы&nbsp;не&nbsp;рекомендуем&nbsp;&mdash; система может зафиксироваться неровно и&nbsp;неравномерно, могут быть погрешности в&nbsp;виде воздушных подушек. Жидкий фиксатор по&nbsp;своей консистенции приближен к&nbsp;медицинскому клею и&nbsp;без подготовки не&nbsp;запачкать волосы сложно.
            p Если фиксируете жидким фиксатором, сбривать волосы в&nbsp;зоне фиксации обязательно. При фиксации на&nbsp;ленточный фиксатор мы&nbsp;также рекомендуем сбривать свои волосы в&nbsp;зоне фиксации. Таким образом, система волос будет лучше держаться, а&nbsp;ваши волосяные фолликулы не&nbsp;пострадают. Сбритые волосы потом отрастут.
            h2 Для каких основ систем подойдут ленточные фиксаторы.
            p
              strong При тотальной алопеции (полном облысении)
              |  система крепится только на&nbsp;ленточные фиксаторы. Система волос покрывает всю голову, она большая по&nbsp;площади и&nbsp;имеет плотную основу. Чаще всего для основ систем на&nbsp;всю голову используется сетка по&nbsp;центру и&nbsp;силиконовая полоска по&nbsp;периметру. 
              br
              | Жидкий фиксатор используют крайне редко для фиксации системы волос на&nbsp;всю голову.
            p
              strong На&nbsp;часть головы
              |  система фиксируется на&nbsp;ленточный и&nbsp;на&nbsp;жидкий фиксатор. Но&nbsp;если система из&nbsp;тонкого силикона (интеграция), то&nbsp;фиксировать можно только на&nbsp;жидкий фиксатор.
            h2 Как фиксировать систему волос с&nbsp;помощью ленточного фиксатора
            ol.list-numbered
              li Обезжирьте спиртом зону на&nbsp;голове к&nbsp;которой фиксируете систему волос.
              li Спрячьте ваши волосы во&nbsp;время фиксации, чтобы они не&nbsp;мешались. Волосы рядом с&nbsp;границей системы закрепите заколками или невидимками. Остальные волосы уберите в&nbsp;хвост.
              li Наклейте полоски ленточного фиксатора длиной 7,5 сантиметров на&nbsp;силикон системы. Либо отрезайте от&nbsp;ролика полоски длиной в&nbsp;несколько сантиметров, наклеивая их&nbsp;по&nbsp;силиконовому периметру. Особое внимание уделите на&nbsp;фиксацию в&nbsp;области лба и&nbsp;висков.
              li Зафиксируйте систему, плотно прижав ее&nbsp;к&nbsp;голове в&nbsp;течение 30&nbsp;секунд.
            h2 Как снять систему волос
            p Для того чтобы снять систему волос зафиксированную не&nbsp;ленточный фиксатор как можно бережнее, необходимо смочить ватный диск спиртосодержащей жидкостью (это может быть обычный медицинский спирт) и&nbsp;провести им&nbsp;по&nbsp;зонам фиксации.
            p Снимаете систему без резких рывков. Все основы подготовлены к&nbsp;многократной перефиксации. Системы волос зафиксированные на&nbsp;ленточный фиксатор слабой степени фиксации можно не&nbsp;обрабатывать спиртосодержащей жидкостью, данного вида фиксатор предназначен для ежедневного использования, поэтому его удаление происходит намного проще и&nbsp;быстрее.
            p После снятия удалите ленту или полоски с&nbsp;кожи головы и&nbsp;системы. Остатки смойте спиртовым раствором
            p Исключение составляет основа из&nbsp;тонкого силикона, его фиксируют только на&nbsp;клей.
            h2 Как выбрать ленточный фиксатор и&nbsp;фиксирующие полоски
            p Фиксирующие полоски и&nbsp;ленточный фиксатор&nbsp;&mdash; это одно и&nbsp;тоже, только полоски поделены на&nbsp;равные части по&nbsp;7,5&nbsp;сантиметров, а&nbsp;ленточный фиксатор в&nbsp;рулоне можно отрезать нужной длины.
            p Выбор ленточного фиксатора и&nbsp;полосок зависит от&nbsp;частоты снятия и&nbsp;фиксации системы волос: ежедневно, раз в&nbsp;1-2&nbsp;недели.
            h3 Ленточный фиксатор для ежедневной фиксации
            -
              const imagesFolder = '/images/produktsiya/'
              const productsList1 = [
                {src:'http://www.hairdesign.ru/upload/iblock/c7e/c7e7b61a0259fc15de07816d7fbc1e00.jpg', href:'lenta-zheltaya-3-yards.html', name: 'Лента Желтая 3 yards', price:'850'},
                {src:'http://www.hairdesign.ru/upload/iblock/1f1/1f10395edb3a847afdde199c4f524030.jpg', href:'http://www.hairdesign.ru/produktsiya/lenta-krasnaya-rulon.html', name: 'Лента Красная 3 yards', price:'700'},
              ]
            +productsList(productsList1)
            h3 Ленточный фиксатор для фиксации раз в&nbsp;1-2 недели
            -
              const productsList2 = [
                {src:'http://www.hairdesign.ru/upload/iblock/234/23491b33df7dc0e42e8a7dd505948cf7.jpg', href:'http://www.hairdesign.ru/produktsiya/lenta-belaya-3-yards-ultra-hold.html', name: 'Лента Белая 3 yards Ultra Hold', price:'1200'},
                {src:'http://www.hairdesign.ru/upload/iblock/9d3/9d3101c1a7f88b52585a0fe897cc0fa3.jpg', href:'http://www.hairdesign.ru/produktsiya/fiksiruyushchie-poloski-3yards-belye.html', name: 'Фиксирующие полоски 3yards, белые', price:'1200'},
              ]
            +productsList(productsList2)
            h3 Ленточный фиксатор для фиксации раз в&nbsp;2-4 недели
            -
              const productsList3 = [
                {src:'http://www.hairdesign.ru/upload/iblock/d0f/d0fbd6f522cfa2d573d0ece4c82fd4e1.jpg', href:'http://www.hairdesign.ru/produktsiya/lenta-golubaya-yards-.html', name: 'Лента Голубая yards', price:'1000'},
                {src:'http://www.hairdesign.ru/upload/iblock/721/72139e148b6a63fbdf4a60d7aab36f95.jpg', href:'http://www.hairdesign.ru/produktsiya/fiksiruyushchie-poloski-3yards.html', name: 'Фиксирующие полоски 3yards, синие', price:'100'},
              ]
            +productsList(productsList3)
            include /blocks/expert-notes-article-footer/expert-notes-article-footer
          +grid__item({m:3,xs:12})
            include /blocks/expert-notes-aside/expert-notes-aside
block styles
  +style('inner')
