extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Как одеть и снять систему волос'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include ../data/prices
  .container
    .content
      +breadcrumbs({parents:['Главная','О компании','Новости'],current:'Центр дизайна волос закрыт 11.06.2018'})
      +pageSection
        +grid({paddingy: true, parLike:true})
          +grid__item({m:8,xs:12})
            h1 Центр дизайна волос закрыт 11.06.2018
            p 07.06.2018
            p Уважаемые клиенты! Центр дизайна волос закрыт 11 июня в связи с проведением корпоративного мероприятия. Наш дружный коллектив желает вам приятных выходных! Не забывайте, что в летнее время в выходные и праздничные дни мы работаем с 10 до 19, а в будние по обычному графику с 10 до 21. Всегда вам рады!
            p: a(href='/o-kompanii/novosti/') Смотреть все новости
block styles
  +style('inner')
