extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Отзыв отправлен'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Главная','Отзывы'],current:'Отзыв отправлен'})
      +pageSection
        +grid({parLike:true,paddingy: true, justify: 'center'})
          +grid__item({m:6,s:10,xs:12})
            .consultation-sent
              h1 Отзыв отправлен
              p Мы прочитаем отзыв и опубликуем на сайте.
              p А пока заходите в наше сообщество. Посмотрите, как живет центр замещения волос.
              .consultation-sent__vk.vk-container
                script(type="text/javascript" src="//vk.com/js/api/openapi.js?127")
                #vk_groups
                script
                    | VK.Widgets.Group("vk_groups",
                    | {
                    |     redesign: 1,
                    |     mode: 4,
                    |     width: "300",
                    |     height: "400",
                    |     color1: 'FFFFFF',
                    |     color2: '000000',
                    |     color3: '5E81A8'
                    | }, 1969216);
block styles
  +style('inner')
