extends /blocks/layout/layout

include /blocks/rating-block/rating-block

block head
  -
    var pageTitle = 'Отзывы о замещении волос'
    var pageDescription = ''
    var pageKeywords = ''
block content
  - 
    const ratings = [
      { image: 'yandex-maps.svg', name: 'Яндекс Карты', rating: '4,8 из 5', href: 'https://yandex.ru/maps/org/tsentr_dizayna_volos/1881119709/?ll=30.312830%2C59.908059&mode=search&sll=30.315635%2C59.938951&sspn=0.986023%2C0.283211&text=%D1%86%D0%B5%D0%BD%D1%82%D1%80%20%D0%B4%D0%B8%D0%B7%D0%B0%D0%B9%D0%BD%D0%B0%20%D0%B2%D0%BE%D0%BB%D0%BE%D1%81&z=15.94' },
      { image: 'zoon.svg', name: 'Zoon', rating: '4,5 из 5', href: 'https://spb.zoon.ru/beauty/salon_krasoty_tsentr_dizajna_volos_na_metro_frunzenskaya/' },
      { image: '2gis.svg', name: '2GIS', rating: '5 из 5', href: 'https://2gis.ru/spb/search/%D1%86%D0%B5%D0%BD%D1%82%D1%80%20%D0%B4%D0%B8%D0%B7%D0%B0%D0%B9%D0%BD%D0%B0%20%D0%B2%D0%BE%D0%BB%D0%BE%D1%81%20%D1%81%D0%BF%D0%B1/firm/5348552838696892/30.31292%2C59.908049?m=30.312901%2C59.908072%2F17.15' },
      { image: 'google-maps.svg', name: 'Google Maps', rating: '4,3 из 5', href: 'https://www.google.com/maps/place/%D0%A6%D0%B5%D0%BD%D1%82%D1%80+%D0%94%D0%B8%D0%B7%D0%B0%D0%B9%D0%BD%D0%B0+%D0%92%D0%BE%D0%BB%D0%BE%D1%81/@59.9079854,30.3108918,17z/data=!3m1!4b1!4m5!3m4!1s0x469630e5425b37c1:0x8261d1ae80293e03!8m2!3d59.9079827!4d30.3130858?hl=RU' },
      { image: 'yell.svg', name: 'Yell', rating: '5 из 5', href: 'https://www.yell.ru/spb/com/tsentr-dizayna-volos_6309646/reviews/' },
    ]
  include ../data/prices
  .container
    .content
      +breadcrumbs({parents:['Главная'],current:'Отзывы'})
      +pageSection
        h1 Отзывы о замещении волос
        +pageSubection
          p: strong Оценки наших клиентов в независимых рейтингах
          +grid({ justify: 'space-between', 'parLike': true })
            each item in ratings
              +grid__item({ m: 2, s: 4, xs: 6 }): +ratingBlock(item)
      +pageSection
        +tabs
          +tab({ name: '<strong>Видеоотзывы</strong>' })
            +pageSubection: +blockMarked({marginTop: true})
              +grid({paddingy: true})
                +grid__item({m:8,xs:12})
                  +blockMarkedContent({lifted: true})
                    +youtubeResponsive('OPVLRsPg_fo')
                +grid__item({m:4,xs:12})
                  +blockMarkedContent()
                    p После каждой переустановки волос я забываю, что у меня когда-то не было волос. Я живу с ними как со своими родными и каждое утро просыпаясь, я полон жизни и радости. Потому что раньше я чувствовал себя немножко неуверенно, потому что раньше был какой-то комплекс.

            +pageSubection: +blockMarked({marginTop: true})
              +grid({paddingy: true})
                +grid__item({m:8,xs:12})
                  +blockMarkedContent({lifted: true})
                    +youtubeResponsive('aUw8hx2LHVI')
                +grid__item({m:4,xs:12})
                  +blockMarkedContent()
                    p Многие мои знакомые вообще не поняли, что со мной произошло. Они просто считают, что я помолодел на 10 лет.  Никаких физических неудобств я не испытывал. Это лучший метод в альтернативу парикам и подсаживаниям. Советую всем, кто хочет помолодеть!

            +pageSubection: +blockMarked({marginTop: true})
              +grid({paddingy: true})
                +grid__item({m:8,xs:12})
                  +blockMarkedContent({lifted: true})
                    +youtubeResponsive('EHEtnVujZKI')
                +grid__item({m:4,xs:12})
                  +blockMarkedContent()
                    p Впервые я сюда попал 12 лет назад с проблемами и первое, что волновало будет ли система себя нормально вести в экстремальных условиях: занимаюсь дайвингом и экстремальными видами спорта. Я и ныряю, и в сауну хожу, и в командировки мотаюсь по 1,5 месяца - никаких проблем! Все надежно, все держится.

            +pageSubection: +blockMarked({marginTop: true})
              +grid({paddingy: true})
                +grid__item({m:8,xs:12})
                  +blockMarkedContent({lifted: true})
                    +youtubeResponsive('Iqt7KkGgf5M')
                +grid__item({m:4,xs:12})
                  +blockMarkedContent()
                    p В париках абсолютно некомфортно: летом жарко, зимой холодно. Я очень рада, что есть такая штука (*система волос). Вы волшебницы! Это просто что-то невозможное!

            +pageSubection: +blockMarked({marginTop: true})
              +grid({paddingy: true})
                +grid__item({m:8,xs:12})
                  +blockMarkedContent({lifted: true})
                    +youtubeResponsive('FR_CNVj_bgk')
                +grid__item({m:4,xs:12})
                  +blockMarkedContent()
                    p Подумал дай попробую, уж хуже-то не будет. Качество на высоте и цвет совпал точно. Центр Дизайна Волос, круто, что я к вам попал. После посещения центра самооценку поднял, благодаря вам и я бруталом стал.

          +tab({ name: '<strong>Отзывы</strong>' })
            +pageSubection
              -
                const homeFeedback = [
                  {
                    body: [
                      {tag:'p', content:'Четвертый год являюсь клиентом Центра дизайна волос. С первых посещений избавилась от комплексов, научилась жить с тем, что дано мне природой, приобрела тактичный и опытных консультантов. Чаще общалась с администратором Раисой и мастером Екатериной Смирновой. Все посещения салона оставили самые приятные воспоминания. Пусть салон работает долго и помогает нам решать наши, теперь уже незначительные проблемы. Четвертый год являюсь клиентом Центра дизайна волос. С первых посещений избавилась от комплексов, научилась жить с тем, что дано мне природой, приобрела тактичный и опытных консультантов. Чаще общалась с администратором Раисой и мастером Екатериной Смирновой. Все посещения салона оставили самые приятные воспоминания. Пусть салон работает долго и помогает нам решать наши, теперь уже незначительные проблемы.'},
                      {tag:'p', content:'Благодарна центру дизайна волос и лично мастеру Богдановой Ирине за избавление от проблем связанных с алопецией. Мне очень нравится изделие, которое фиксируется на голове ,заменяя свои редкие волосы, это удобно, практично, позволяет чувствовать себя легко и свободно, избавляет от комплексов, поскольку для женщин волосы играют очень важную роль в имидже.'},
                    ],
                    author: 'Ольга',
                    photo: {src:'https://dummyimage.com/900x1200', thumb:'https://dummyimage.com/314x472'},
                    admin: 'Татьяна Ермолаева',
                    master: 'Ксения Иванова',
                  },
                  {
                    body: {tag:'p', content:'Благодарна центру дизайна волос и лично мастеру Богдановой Ирине за избавление от проблем связанных с алопецией. Мне очень нравится изделие, которое фиксируется на голове ,заменяя свои редкие волосы, это удобно, практично, позволяет чувствовать себя легко и свободно, избавляет от комплексов, поскольку для женщин волосы играют очень важную роль в имидже.'},
                    author: 'Людмила',
                    admin: 'Татьяна Ермолаева',
                    master: 'Ксения Иванова',
                  },
                  {
                    body: {tag:'p', content:'Мое утро было замечательным. В центре я была первый раз. И все сама увидела, потрогала и примерила. Столько способов решения своей проблемы нет нигде. Очаровательный администратор Раиса, все рассазала, показала и обьяснила. И просто поговорила по душам. Спасибо вам за понимание и поддержку.'},
                    author: 'Любовь',
                    admin: 'Татьяна Ермолаева',
                    master: 'Ксения Иванова',
                  },
                ]
              +feedbackList(homeFeedback)
            +pageSubection
              a(href='#form-review-anchor').btn Оставьте отзыв
            +pageSubection
              include /blocks/pagination/pagination
      +pageSection
        h2 Как проходит замещение и&nbsp;результаты
        +grid({paddingy:true, parLike:true})
          +grid__item({m:8,xs:12})
            +pageSubection
              +grid({paddingy:true})
                +grid__item({m:6,xs:12})
                  +feedbackVideo({id:'EHEtnVujZKI', desc: {tag:'a', attr:{href:'http://www.hairdesign.ru/klienty/'}, content:'Замещение волос при андрогенетической алопеции (2:40)'}})
                +grid__item({m:6,xs:12})
                  +feedbackVideo({id:'KuM3lieIRPk', desc: {tag:'a', attr:{href:'http://www.hairdesign.ru/klienty/'}, content:'Замещение волос при андрогенетической алопеции (2:40)'}})
            +pageSubection
              -
                const beforeAfter = {
                  items: [
                    {
                      images:{
                        before:'/images/before-after/before-after-3-1.jpg',
                        after:'/images/before-after/before-after-3-2.jpg'
                      },
                      name:'Анастасия',
                      desc:'очаговая алопеция(частичное облысение на макушке-гнездное облысение)'
                    },
                    {
                      images:{
                        before:'/images/before-after/before-after-1-1.jpg',
                        after:'/images/before-after/before-after-1-2.jpg'
                      },
                      name:'Всеволод',
                      desc:'андрогенная алопеция'
                    },
                  ],
                  settings: {cols:2}
                }
              +beforeAfter(beforeAfter)
          +grid__item({m:4,xs:12})
            h2#form-review-anchor Оставить отзыв
            +form({
              inputs: [
                {type: 'text', name:'name', label:'Имя', id:'feedback-form-name'},
                {type: 'email', name:'email', label:'E-mail<br><small style="font-size: 0.75rem; font-style: italic">Не публикуем на сайте, просто ответим спасибо</small>', id:'feedback-form-email'},
                {type: 'textarea', name:'message', label:'Отзыв', id:'feedback-form-message'},
                {type: 'checkbox', name:'agreement', checked: true, required: true, label: 'Нажимая на кнопку, я даю свое согласие на обработку своих персональных данных.', id: 'feedback-form-agreement'}
              ],
              submit:'Отправить'
            })
block styles
  +style('inner')
