extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Перефиксация системы волос'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include ../data/prices
  .container
    .content
      +breadcrumbs({parents:['Главная','Услуги'],current:'Перефиксация системы волос'})
      +pageSection
        h1 Перефиксация системы волос
        +grid({paddingy:true,parLike:true})
          +grid__item({m:9,xs:12})
            p Этой услугой пользуется большинство наших клиентов, проживающих в&nbsp;Санкт-Петербурге. В&nbsp;основном, ей&nbsp;пользуются клиенты, которые применяют долговременную фиксацию на&nbsp;жидкий полимер (клей). Обычно процедура занимает 1-1,5&nbsp;ч.
            p Во&nbsp;время этой процедуры мастер снимет систему волос при помощи специальных растворителей. Основа будет тщательно очищена от&nbsp;клея. На&nbsp;кожу головы обычно наносят специальные маски, предотвращающие появление раздражения, ухаживающие за&nbsp;кожей головы. Если вы&nbsp;склонны к&nbsp;обильному потоотделению, то&nbsp;перед тем, как зафиксировать подготовленную и&nbsp;очищенную систему волос, кожу головы обработают специальным составом, сокращающим потоотделение. Таким образом, фиксация будет длиться столько, сколько положено. Обычно при перефиксации мастер выполняет коррекцию стрижки своих волос. Таким образом, после посещения салона вы&nbsp;будете выглядеть на&nbsp;все 100%
          +grid__item({m:3,xs:12})
            +aside({title:'Стоимость'})
              +asidePrice({price:'от 1650 до 2250 руб'})
            +aside({title:'Продолжительность'})
              +asidePrice({price:'1 - 1,5 часа'})
          +grid__item({m:9,xs:12})
            h2 Записаться
            p Записываться желательно заранее, особенно если есть предпочтения по мастерам. Записываться мы рекомендуем через 
              a(href='/o-kompanii/prilojenie/') мобильное приложение
              | . Это гораздо удобнее, так как вы в спокойной обстановке сможете выбрать удобное для вас время и мастера. После записи вам придет подтверждающая СМС.
          +grid__item({m:4,s:8,xs:12})
            +blockMarked({smallPadding:true})
              h3 Другие услуги
              p 
                a(href='/uslugi/pervaya-fiksatsiya-i-strizhka-sistemy-volos/') Первая фиксация и стрижка волос
                br
                a(href='/uslugi/okraska-sistemy-volos/') Окраска системы волос и волос клиента
                br
                a(href='/uslugi/ukladka-i-pricheska-sistemy-volos/') Укладка, прическа на системе волос
                br
                a(href='/uslugi/remont/') Ремонт
block styles
  +style('inner')
