extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Брови накладные'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include ../data/prices
  .container
    .content
      +breadcrumbs({parents:['Главная'],current:'Контакты'})
      +pageSection
        h1 Брови накладные
        +grid({parLike:true, paddingy: true})
          +grid__item({m:5,s:4,xs:12})
            - let img = {src:'/images/product.jpg', alt:'Брови накладные'}
            +productImage(img)
          +grid__item({m:7,s:8,xs:12})
            +pageSubection
              +productService({price:2500})
            +pageSubection
              p Основа - тонкий силикон, волос натуральный.
              p Способ применения: на основу накладной брови фиксируется ленточный фиксатор (легкой степени фиксации), после чего излишки ленточного фиксатора удаляются(вырезаются) ножницами, затем снимается защитная пленка с ленточного фиксатора, на который наносится капля жидкого кристаллизующегося фиксатора (Endura Bond) и распределяется равномерно по всей поверхности накладной брови тонким слоем, затем прикрепляется на предварительно обезжиренную зону фиксации.
              h2 Характеристики
              -
                const chars = [
                  {name:'Производитель',value:'США'},
                  {name:'Длина',value:'2,7 м'},
                ]
              +productChars(chars)
            +pageSubection
              +blockMarked({smallPadding:true})
                +pageSubection
                  +productsPaymentDelivery
                    +grid({paddingy: true, parLike:true})
                      +grid__item({m:6,xs:12})
                        h3 Санкт-Петербург
                        h4 Самовывоз 
                        p г. Санкт-Петербург, наб. Обводного канала, 108А 
                          br
                          | Время работы: с 9-21, ежедневно 
                          br
                          a(href='/kontakty/') Как добраться
                      +grid__item({m:6,xs:12})
                        h3 Россия и зарубежье
                        p Стоимость доставки сообщит администратор при заказе в зависимости от вашего местонахождения
                +pageSubection
                  +productsPaymentDelivery({type:'payment'})
                    p Оплату можно осуществить банковским переводом на счет компании, банковской картой и наличными в салоне.
            +pageSubection
              include /blocks/product/product-form/product-form
block styles
  +style('inner')
