extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Ремонт'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include ../data/prices
  .container
    .content
      +breadcrumbs({parents:['Главная','Услуги'],current:'Ремонт'})
      +pageSection
        h1 Ремонт
        +grid({paddingy:true,parLike:true})
          +grid__item({m:9,xs:12})
            p Кроме изготовления новых систем волос, принимаем заказы на&nbsp;ремонты старых систем, корректируем цвет волос.
            p Система постепенно изнашивается. Волосы вычесываются, происходит потеря густоты. Кроме того, само качество волоса со&nbsp;временем ухудшается. Натуральным волосам на&nbsp;системе нужны такие&nbsp;же восстанавливающие процедуры для сохранения внешнего вида, как и&nbsp;для своих собственных волос.
            h2 Что имеется в&nbsp;виду под ремонтом системы волос?
            p Во&nbsp;время ремонта места вычеса на&nbsp;системе заполняются волосами, узлы проклеиваются, волосы дополнительно обрабатываются от&nbsp;спутывания и&nbsp;восстанавливается цвет. Поэтому если потеря волос составляет не&nbsp;более&nbsp;30%, есть смысл ее&nbsp;отремонтировать.
            p Фактически отремонтированная система может прослужить почти столько&nbsp;же, сколько и&nbsp;новая. Ее&nbsp;также можно использовать как запасной вариант.
            h2 Гарантия 30&nbsp;дней
            p Гарантируем в&nbsp;течение 30&nbsp;дней отсутствие вычеса новых волос и&nbsp;сохранение первоначального цвета.
            h2 Стоимость и&nbsp;срок ремонта
            p: strong Стоимость ремонта зависит от&nbsp;длины волос и&nbsp;степени износа.
            p Систему волос можно принести лично, можно отправить по&nbsp;почте. Почта удобна тем, кто живет далеко от&nbsp;Санкт-Петербурга. Оценить состояние и&nbsp;возможность ремонта сможет наш парикмахер по&nbsp;телефону, если вы&nbsp;заранее отправите фотографии волос на&nbsp;вашей голове с&nbsp;разных ракурсов и&nbsp;описание того, что вас не&nbsp;устраивает, и&nbsp;что вы&nbsp;хотели&nbsp;бы исправить. Почта: 
              a(href='mailto:mail@hairdesign.ru') mail@hairdesign.ru
            p Звоните, мы&nbsp;вам подскажем стоимость и&nbsp;срок ремонта&nbsp;8 (812) 245-37-38
          +grid__item({m:4,s:8,xs:12})
            +blockMarked({smallPadding:true})
              h3 Другие услуги
              p 
                a(href='/uslugi/pervaya-fiksatsiya-i-strizhka-sistemy-volos/') Первая фиксация и стрижка волос
                br
                a(href='/uslugi/perefiksatsiya-sistemy-volos/') Перефиксация системы
                br
                a(href='/uslugi/okraska-sistemy-volos/') Окраска системы волос и волос клиента
                br
                a(href='/uslugi/ukladka-i-pricheska-sistemy-volos/') Укладка, прическа на системе волос
block styles
  +style('inner')
