extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Главная'],current:'Система волос для женщин'})
      +pageSection
        h1 Замещение волос для женщин
        +grid({paddingy:true,parLike:true})
          +grid__item({m:8,xs:12})
            p Система волос&nbsp;&mdash; это безоперационный способ вернуть волосы. Она&nbsp;&mdash; как парик нового поколения: тоньше, незаметнее, естественнее и&nbsp;может фиксироваться сроком до&nbsp;1&nbsp;месяца.
            h2 Почему 1000 девушек уже выбрали систему волос?
            p
              strong По&nbsp;волосам можно проводить руками
              br
              | Убирать волосы за&nbsp;ухо станет снова привычным делом. Нет опасности сдвинуть систему или показать ее&nbsp;край. Даже ваши близкие и&nbsp;родные люди смогут запустить руку в&nbsp;волосы и&nbsp;не&nbsp;почувствуют основы.
            p
              strong Вы&nbsp;сможете делать прически дома
              br
              | Хвостик, набок, распускать волосы&nbsp;&mdash; все как раньше
            p
              strong Система это продолжение вас, как вторая кожа
              br
              | Через день вы&nbsp;перестанете ощущать систему волос на&nbsp;голове. Она станет частью вас. Ощущение отсутствия системы достигается прочной фиксацией системы к&nbsp;голове.
            +figure({
              src:'/images/sistema-volos/with-client.png',
              caption:`На&nbsp;фото мастер <a href='/o-kompanii/personal/natalya-mikhaylova.html'>Наталья</a> и&nbsp;девушка-клиентка Наталья. Наталья теперь может делать пробор в&nbsp;системе волос.`
            })
            h2 Мастер поможет выбрать систему волос
            p Приходите в&nbsp;наш центр восстановления волос, вас встретит мастер-парикмахер с&nbsp;большим опытом работы в&nbsp;сфере безоперационного замещения. Вместе вы&nbsp;подберете систему. У&nbsp;нас в&nbsp;наличии длины от&nbsp;15&nbsp;до&nbsp;45&nbsp;сантиметров, подберем ваш оттенок цвета. В&nbsp;наличии есть как системы для полного облысения на&nbsp;всю голову, так и&nbsp;для частичного&nbsp;&mdash; на&nbsp;часть головы, с&nbsp;сохранением ваших волос. В&nbsp;нашем центре вы&nbsp;примерите разные варианты, чтобы выбрать наиболее подходящий для вас.
            p Выбор системы волос, как поход в&nbsp;магазин и&nbsp;примерка платья с&nbsp;персональным помощником.
          +grid__item({m:6,xs:12})
            +figure({src:'/images/for-women/colors.jpg',alt:'',caption:'В&nbsp;магазине одежды манекены и&nbsp;витрины, у&nbsp;нас так&nbsp;же'})
          +grid__item({m:6,xs:12})
            +figure({src:'/images/for-women/room.jpg',alt:'',caption:'В&nbsp;магазине одежды закрытые примерочные, у&nbsp;нас отдельный кабинет.'})
        h2 Посмотрите на&nbsp;процедуру установки системы при полном облысении
        +blockMarked({marginTop: true})
          +grid({paddingy: true})
            +grid__item({m:8,xs:12})
              +blockMarkedContent({lifted: true})
                +youtubeResponsive('xRpYF43VbVM')
            +grid__item({m:4,xs:12})
              +blockMarkedContent()
                p Посмотрите, сколько света и&nbsp;тепла исходит от&nbsp;этой девушки!
                p Несмотря на&nbsp;диагноз: очаговая алопеция в&nbsp;финальной стадии, который прозвучал для нее однажды как приговор, она не&nbsp;сдалась, не&nbsp;упала духом, она все так&nbsp;же улыбается.
                p Девушка нашла решение своей проблемы: использует то&nbsp;парик, то&nbsp;систему волос, накладные ресницы. Но, самое главное, она принимает себя такой, какая она есть.
                p А&nbsp;еще у&nbsp;нее есть большое сокровище в&nbsp;жизни&nbsp;&mdash; поддержка любимого человека, потому что он&nbsp;любит ее&nbsp;не&nbsp;за&nbsp;что-то (красивую внешность и&nbsp;т.д.), а&nbsp;просто так.
        h2 Посмотрите на&nbsp;процедуру установки системы при полном облысении
        +blockMarked({marginTop: true})
          +grid({paddingy: true})
            +grid__item({m:8,xs:12})
              +blockMarkedContent({lifted: true})
                +youtubeResponsive('aO2dB8O2m4s')
            +grid__item({m:4,xs:12})
              +blockMarkedContent()
                p На&nbsp;видео наша постоянная клиентка&nbsp;&mdash; Наталья. У&nbsp;Натальи тотальная алопеция, у&nbsp;нее практически не&nbsp;осталось своих волос, для нее мы&nbsp;сделали слепок для изготовления индивидуальной системы волос.
                p Перед оформлением заказа, мы проверяем соответствие размера слепка с размером головы.
                p В&nbsp;заказе Наталья выбрала цвет волос&nbsp;&mdash; &#8470;&nbsp;24, длину&nbsp;&mdash; 40&nbsp;см.
      +pageSection
        +grid({paddingy:true,parLike:true})
          +grid__item({m:8,xs:12})
            h2 У&nbsp;нас заказывают эксклюзивные системы, сделанные индивидуально под вас

            p Изготавливаем системы волос на&nbsp;заказ по&nbsp;вашим пожеланием. Мастер поможет выбрать идеальную систему волос.
            ul.list-marked
              li
                strong Длину
                |  подберем, померив готовые системы в&nbsp;наличии, чтобы представить, как будет выглядеть ваша новая индивидуальная система волос.
              li
                strong Густоту.
                |  Готовые системы волос стандартной густоты&nbsp;&mdash; средней, на&nbsp;заказ можно сделать очень густую систему или наоборот, систему волос с&nbsp;облегченной густотой.
              li
                strong Структуру
                |  волос: прямые, волнистые или кудрявые.
              li
                strong Цвет
                |  волос, можем взять ваши волосы в&nbsp;качестве образца цвета, а&nbsp;также можно воспользоваться нашей цветовой палитрой.
              li
                strong Особое окрашивание
                | . Можно даже сделать мелирование, эффект отросших волос и&nbsp;частичное окрашивание.
            h2 С&nbsp;системой волос вы&nbsp;снова сможете делать прически в&nbsp;парикмахерской
            p Система волос полностью заменит ваши собственные волосы. Вам может потребоваться укладка перед важным мероприятием, может возникнуть необходимость сменить цвет или подстричь ваши отросшие волосы.
            p Наши парикмахеры помогут:

            ul.list-marked.list-marked--w-prev-par
              li сделать стрижку
              li укладку
              li окраску
              li завить волосы
              li сделать мелирование
              li Создать сложную прическу
        h2 Наши клиентки
        -
          const beforeAfter = {
            items: [
              {
                images:{
                  before:'/images/before-after/before-after-1-1.jpg',
                  after:'/images/before-after/before-after-1-2.jpg'
                },
                name:'Всеволод',
                desc:'андрогенная алопеция'
              },
              {
                images:{
                  before:'/images/before-after/before-after-2-1.jpg',
                  after:'/images/before-after/before-after-2-2.jpg'
                },
                name:'Александр',
                desc:'андрогенная алопеция'
              },
              {
                images:{
                  before:'/images/before-after/before-after-3-1.jpg',
                  after:'/images/before-after/before-after-3-2.jpg'
                },
                name:'Анастасия',
                desc:'очаговая алопеция(частичное облысение на макушке-гнездное облысение)'
              },
            ]
          }
        +beforeAfter(beforeAfter)
        
        //- <iframe src="https://vk.com/video_ext.php?oid=-1969216&id=456239699&hd=2" width="325" height="646" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
        //- <iframe src="https://vk.com/video_ext.php?oid=-1969216&id=456239337&hd=2" width="325" height="646" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
        //- <iframe src="https://vk.com/video_ext.php?oid=-1969216&id=456239133&hd=2" width="325" height="646" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
        //- <iframe src="https://vk.com/video_ext.php?oid=-1969216&id=456239132&hd=2" width="325" height="646" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>

        .feedback-slider.feedback-slider--shorts.grid--par-alike
          .swiper-wrapper.feedback-slider__wrapper
            .swiper-slide.feedback-slider__slide: +blockMarked({ color: 'medium', padding: 'medium' })
              .feedback-slider__image
                +img({
                  name: 'video-1',
                  path: '/images/sistema-volos-dlya-zhenshchin/',
                  formats: [
                    { ext: 'webp', mime: 'image/webp' },
                    { ext: 'png', orig: true },
                  ],
                })(alt='' decoding="async" loading="lazy")
              .iframe-responsive.iframe-responsive--shorts.feedback-slider__video.feedback-slider__video--hidden(data-slide-src='https://vk.com/video_ext.php?oid=-1969216&id=456239337&hd=2&autoplay=1' allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen)
                .iframe-responsive__iframe
                  iframe(src='' allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen)
              +blockMarkedContent({ marked: true }).feedback-slider__info
                p Челки ручной работы есть у нас в разных оттенках. По желанию их можно тонировать в близкие оттенки👌
                p Стоимость 12000 рублей.
                p Поможем подобрать, подогнать, адаптировать и подстричь 💪

            .swiper-slide.feedback-slider__slide: +blockMarked({ color: 'medium', padding: 'medium' })
              .feedback-slider__image
                +img({
                  name: 'video-2',
                  path: '/images/sistema-volos-dlya-zhenshchin/',
                  formats: [
                    { ext: 'webp', mime: 'image/webp' },
                    { ext: 'png', orig: true },
                  ],
                })(alt='' decoding="async" loading="lazy")
              .iframe-responsive.iframe-responsive--shorts.feedback-slider__video.feedback-slider__video--hidden(data-slide-src='https://vk.com/video_ext.php?oid=-1969216&id=456239133&hd=2&autoplay=1' allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen)
                .iframe-responsive__iframe
                  iframe(src='' allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen)
              +blockMarkedContent({ marked: true }).feedback-slider__info
                p Наколки на макушку в разных длинах и цветах. Огромный ассортимент изделий из волос
            
            .swiper-slide.feedback-slider__slide: +blockMarked({ color: 'medium', padding: 'medium' })
              .feedback-slider__image
                +img({
                  name: 'video-3',
                  path: '/images/sistema-volos-dlya-zhenshchin/',
                  formats: [
                    { ext: 'webp', mime: 'image/webp' },
                    { ext: 'png', orig: true },
                  ],
                })(alt='' decoding="async" loading="lazy")
              .iframe-responsive.iframe-responsive--shorts.feedback-slider__video.feedback-slider__video--hidden(data-slide-src='https://vk.com/video_ext.php?oid=-1969216&id=456239132&hd=2&autoplay=1' allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen)
                .iframe-responsive__iframe
                  iframe(src='' allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen)
              +blockMarkedContent({ marked: true }).feedback-slider__info
                p Накладка или система волос на макушку. В наличии разные длины и цвета
          button(type='button').feedback-slider__navigation.feedback-slider__navigation--prev
          button(type='button').feedback-slider__navigation.feedback-slider__navigation--next
          .feedback-slider__pagination

        h2 Стоимость системы волос для женщин
        +grid({paddingy:true, parLike:true})
          +grid__item({m:8,xs:12})
            p Стоимость системы замещения зависит&nbsp;от:
            ul.list-marked.list-marked--w-prev-par
              li покупаете из&nbsp;наличия или заказываете
              li зоны облысения: на&nbsp;макушку, на&nbsp;треть головы или на&nbsp;всю
              li длины волос: от&nbsp;15&nbsp;до&nbsp;60&nbsp;сантиметров.
            p Цена короткой готовой системы на&nbsp;макушку головы&nbsp;&mdash; 13&nbsp;000&nbsp;рублей. Готовой на&nbsp;всю голову и&nbsp;длиной 45&nbsp;сантиметров&nbsp;&mdash; 42000&nbsp;рублей.
            p Цена системы на&nbsp;заказ от&nbsp;42000 до&nbsp;72000&nbsp;рублей.
            p
              a(href='/tseny/') Посмотрите все цены и&nbsp;скидки
          +grid__item({m:4,s:8,xs:12})
            +blockMarked({smallPadding:true})
              h3 Скидки на&nbsp;системы
              p Любим постоянных клиентов и&nbsp;даем хорошие скидки до&nbsp;40% +установки и&nbsp;стрижки бесплатно.
      +pageSection
        p
          +textMarked Можно много читать о&nbsp;системе волос, смотреть фотографии, но&nbsp;достаточно 1&nbsp;раз примерить, чтобы понять что она для вас. Приходите к&nbsp;нам в&nbsp;салон, мы&nbsp;вас бесплатно проконсультируем.
block styles
  +style('inner')
