extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Сравнение 5 методов борьбы с облысением'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include ../data/prices
  .container
    .content
      +breadcrumbs({parents:['Главная', 'О компании','Заметки эксперта'],current:'Сравнение 5 методов борьбы с облысением'})
      +pageSection
        h1 Сравнение 5 методов борьбы с облысением
        +grid({paddingy: true, parLike:true})
          +grid__item({m:9,xs:12})
            p Каждый человек, страдающий от&nbsp;потери волос, может воспользоваться одним из&nbsp;5&nbsp;основных способов их&nbsp;компенсации:
            ul.list-marked.list-marked--w-prev-par
              li Косметические средства или &laquo;камуфляж&raquo; (спреи, лосьоны, кремы, пудры);
              li Медицинские препараты (Миноксидил, Пропеция, Финастерид);
              li Накладки и&nbsp;парики;
              li Хирургические способы (трансплантация, имплантация);
              li Безоперационное замещение волос.
            p Каждый из&nbsp;способов имеет свои плюсы и&nbsp;минусы, поэтому каждый человек, прежде чем сделать выбор в&nbsp;пользу того или иного метода, должен тщательно изучить каких результатов он&nbsp;сможет добиться и&nbsp;какой ценой. К&nbsp;сожалению далеко не&nbsp;все, кто предлагает помощь в&nbsp;лечении, дают полную информацию о&nbsp;своем методе и&nbsp;о&nbsp;других путях решения проблемы. Мы&nbsp;предлагаем Вам оценить эффективность существующих методик с&nbsp;помощью &laquo;Единой сравнительной таблицы&raquo;.
            include /blocks/table-compare-methods/table-compare-methods
            p Подробнее о&nbsp;
              a(href='/etapy-zameshcheniya-volos/') процессе безоперационного замещения волос
            include /blocks/expert-notes-article-footer/expert-notes-article-footer
          +grid__item({m:3,xs:12})
            include /blocks/expert-notes-aside/expert-notes-aside
block styles
  +style('inner')
