.discounts-slider
  --swiper-pagination-color #e3d4b7
  position relative
  margin-top -2rem
  padding-top 3rem
  padding-bottom 1.5rem
  overflow hidden
  @media(min-width point-m)
    margin-top 2rem
  &__slider
    position static
    background-color #F4ECDC
  &__navigation
    --position calc(50% + 37rem)
    --color-background #636363
    --color-background-hover #3d3d3d
    position absolute
    top 50%
    z-index 3
    width (basePadding * 4)
    height (basePadding * 2)
    padding 0
    background-color var(--color-background)
    border none
    transform-origin 50% 50% 0
    mask-image url(../images/arrow.svg)
    mask-repeat no-repeat
    mask-position center
    mask-size contain
    @media (max-width (containerWidth + (basePadding * 8)) - 1)
      --position unquote('calc(100vw - ' + (basePadding * 4) + ')')
    @media (max-width point-s - 1)
      // display none
      top 56%
    &:hover
      background-color var(--color-background-hover)
    &--prev
      right var(--position)
      transform translateY(-50%)
    &--next
      left var(--position)
      transform translateY(-50%) rotate(180deg)
    &--disabled
      --color-background #B7B7B7
      --color-background-hover var(--color-background)
      cursor default
  &__pagination
    position absolute
    bottom 0 !important
    display flex
    justify-content center
