.footer-sites
  padding-top 5px
  width 100%
  background-color #efefef
  &__title
    padding-y basePadding
    @media (min-width point-l)
      display none
  &__list
    display flex
    margin-left -5px
    @media (max-width point-m - 1)
      flex-direction column
  &__item
    flex 1 1 20%
    margin-left 5px
    font-size 12px
    line-height 16px
    display flex
    a
    .a-repl
      position relative
      display flex
      justify-content space-between
      width 100%
      align-items center
      margin-bottom 5px
      padding 4px 10px
      text-decoration none
      color #5d5d5d
      background-color #fcfcfc
      span
        flex 0 1 auto
      &::after
        content ''
        flex-shrink 0
        width var(--item-width)
        height var(--item-height)
        background-image var(--item-background-image)
        background-repeat no-repeat
        background-position center
        background-size cover
    &--hairdesign
      --item-width 52px
      --item-height 37px
      --item-background-image url('../images/svg-sprites/core.svg#top-menu-hairdesign')
    &--salonvolos
      --item-width 23px
      --item-height 30px
      --item-background-image url('../images/svg-sprites/core.svg#top-menu-salon')
    &--vsepariki
      --item-width 52px
      --item-height 37px
      --item-background-image url('../images/svg-sprites/core.svg#top-menu-vsepariki')
    &--triholog
      --item-width 14px
      --item-height 35px
      --item-background-image url('../images/svg-sprites/core.svg#top-menu-triholog')
    &--zagustitel
      --item-width 42px
      --item-height 37px
      --item-background-image url('../images/svg-sprites/core.svg#top-menu-zagustitel')
    &--active
      a
      .a-repl
        font-weight 500
        background-color #fff
    &:hover
      @media (min-width point-l)
        background-color #fff
        a
        .a-repl
          background-color transparent
