.contacts
  &__phones
    font-size font-xxl
    line-height line-xxl
  &__socials
    display flex
    gap 0.5rem
    margin-y 1rem
  &__socials-text
    font-size font-xs
    line-height line-xs
  &__widgets
    display flex
    align-items center
  &__studying
    small
      font-size font-xs
  &__zen
    background-image var(--zen)
    background-repeat no-repeat
    background-position left center
    background-size 2rem
    padding-left 2.5rem
    padding-y .25rem
  &__map
    parMargin()
