nav.footer-sites.container
  .content
    .footer-sites__title Другие направления
    ul.footer-sites__list
      li.footer-sites__item.footer-sites__item--hairdesign.footer-sites__item--active
        .a-repl
          span Центр<br>замещения волос
      li.footer-sites__item.footer-sites__item--salonvolos
        a(href='http://salonvolos.spb.ru/')
          span Салон красоты
      li.footer-sites__item.footer-sites__item--vsepariki
        a(href='http://www.vsepariki.com')
          span Парики и<br>головные уборы
      li.footer-sites__item.footer-sites__item--triholog
        a(href='http://www.triholog.org/')
          span Лечебная косметика<br>для волос
      li.footer-sites__item.footer-sites__item--zagustitel
        a(href='http://zagustitelvolos.com')
          span Загустители волос<br>Toppik
