+pageSection.banner-hermitage: .container: .content
  h2.home-subtitle Для иногородних клиентов
  +grid({paddingy:true, justify: 'center'})
    +grid__item({s:8, xs: 12}): p.text-align--center Мы можем проконсультировать вас по телефону, а 
      a(href='/instruktsii/kak-snyat-merki-dlya-sistemy-zameshcheniya-foto.html') снять размеры
      |  можно самостоятельно. Готовая система система будет выслана вам курьерской службой. 
      a(href='/o-kompanii/zametki/kak-zakazat-inogorodnim.html') Подробнее
  .banner-hermitage__gift: +grid({paddingy:true, justify: 'center', align: 'center'})
    +grid__item({m:4,s:10,xs:12}): img(src='/images/hermitage.png' alt='')
    +grid__item({m:7,xs:12}).banner-hermitage__gift-info
      h3 Подарок иногородним — 
        a(href='/o-kompanii/novosti/inogorodnim-klientam-ekskursiya-po-gorodu-i-bilet-v-ermitazh-v-podarok.html') билеты в Эрмитаж
      p Иногородним клиентам при заказе индивидуальной системы волос обзорная экскурсия по городу и билет в Эрмитаж в подарок.
+pageSection: .container: .content
  .banner-hermitage.banner-hermitage--small: .banner-hermitage__gift: +grid({paddingy:true, justify: 'center', align: 'center'})
    +grid__item({m:4,s:10,xs:12}): img(src='/images/hermitage.png' alt='')
    +grid__item({m:8,xs:12}).banner-hermitage__gift-info
      h2 Подарок иногородним — 
        a(href='/o-kompanii/novosti/inogorodnim-klientam-ekskursiya-po-gorodu-i-bilet-v-ermitazh-v-podarok.html') билеты в Эрмитаж
      p Иногородним клиентам при заказе индивидуальной системы волос обзорная экскурсия по городу и билет в Эрмитаж в подарок.
