.btn-arrow
  display inline-block
  padding-left (basePadding*2.4)
  padding-right (basePadding/3*2)
  padding-y (basePadding*0.4)
  background-color #f1ede4
  text-decoration none
  color #4e4e4e
  font-size font-s
  line-height 1rem
  background-image linear-gradient(to right, #a11c40 1.625rem, #f1ede4 1.625rem)
  position relative
  transition color timing-s
  cursor pointer
  &::before
    content ''
    position absolute
    left ((1.625rem - 0.625rem)/2)
    top 50%
    transform translateY(-50%)
    display block
    width 0.75rem
    height 0.75rem
    background-image url('../images/svg-sprites/rest.svg#btn-arrow')
    background-repeat no-repeat
    background-position left
    background-size cover
  &:hover
    color #c31843
    transition none
