.banner-summer-action
  .banner-summer-action__title Летняя акция
  .banner-summer-action__subtitle Скидки на системы волос до 9000 р.
  .banner-summer-action__product.banner-summer-action__product--skin
    .banner-summer-action__product-discount -25%
    .banner-summer-action__product-title на модель SKIN
    .banner-summer-action__product-image: +img({
      name: 'banner-summer-action__skin',
      path: '/images/',
      formats: [
        { ext: 'jpg', orig: true },
        { ext: 'webp', mime: 'image/webp' },
      ],
      density: [
        { values: [ 1, 2 ] }
      ]
    })(width='307' height='440' alt='')
  .banner-summer-action__product.banner-summer-action__product--integration
    .banner-summer-action__product-discount -15%
    .banner-summer-action__product-title на модель INTEGRATION
    .banner-summer-action__product-image: +img({
      name: 'banner-summer-action__integration',
      path: '/images/',
      formats: [
        { ext: 'jpg', orig: true },
        { ext: 'webp', mime: 'image/webp' },
      ],
      density: [
      { values: [ 1, 2 ] }
      ]
    })(width='307' height='440' alt='')
  .banner-summer-action__gift Установка и стрижка в подарок
  .banner-summer-action__duration Акция действует до конца августа
