.header-mobile-switcher
  height 3rem

  display block
  padding (basePadding) (basePadding)
  padding-left (basePadding*4)
  color #ffffff
  font-weight 500
  text-decoration none

  background-color #c31843
  background-image url('../images/svg-sprites/core.svg#hamburger')
  background-repeat no-repeat
  background-size (basePadding*2) auto
  background-position basePadding center
  @media screen and (min-width (point-m))
    display none
