.header-mobile-switcher
  height 3rem
  display block
  padding (basePadding) (basePadding)
  padding-left (basePadding*4)
  font-weight 500
  @media screen and (min-width (point-m))
    display none
