.fotorama
  &__slider
    overflow hidden
  &__slide
    &--video video
      width 100%
      height 100%
  &__pagination
    display none
    @media (max-width point-m - 1)
      display flex
      justify-content center
      padding-y .75rem
      .swiper-pagination-bullet-active
        background-color #c31843
  &__thumbnails
    overflow hidden
    margin-top basePadding
    @media (max-width point-m - 1)
      display none
    & ^[-1]__slide
      width 4rem
      height 4rem
      opacity .5
      transition opacity .4s
      &.swiper-slide-thumb-active
        opacity 1
        transition-duration .1s
      & img
        width 100%
        height 100%
        object-position center
        object-fit cover
