include /blocks/img/img

mixin fotorama(fotorama)
  .fotorama&attributes(attributes)
    .fotorama__slider
      .fotorama__wrapper.swiper-wrapper
        each item in fotorama.list
          - const { image: name, path, format: ext, width, height } = item;
          if (item.video)
            .fotorama__slide.fotorama__slide--video.swiper-slide
              video(playsinline controls preload="auto" poster=item.poster)
                source(src=`${item.video}.mp4` type='video/mp4')
                source(src=`${item.video}.webm` type='video/webm')
          else
            .fotorama__slide.swiper-slide
              +img({
                name,
                path,
                formats: [
                  { ext, orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ]
              })(width= width height= height alt='')
      .fotorama__pagination
    .fotorama__thumbnails
      .fotorama__wrapper.swiper-wrapper
        each item in fotorama.list
          - const { image: name, path, format: ext } = item;
          .fotorama__slide.swiper-slide: +img({
            name: `${name}_small`,
            path,
            formats: [
              { ext, orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ]
          })(width=64 height=64 alt='')
