.product-form
  margin-top 0
  border-top 1.5625rem #ffffff solid
  padding-top 1.5625rem + 0.75rem
  h2&__header
    font-size font-xl
    top -1.5625rem
    
  &__right
    display flex
    & ^[-1]__input
      flex-grow 1
      & .form-input
        display flex
        flex-direction column
        height 100%
        textarea 
          flex-grow 1
