@keyframes blink
  0%
    left -100%
  25%
    left 100%
  100%
    left 100%

.appointment
  z-index 900
  background-color #a11c40
  overflow hidden
  transition max-height 0.5s ease-in-out
  p 
    text-align center
    color #ffffff
  &::before
    content ""
    position absolute
    left 200%
    top -50%
    width 100%
    height 300px
    background linear-gradient(180deg, #9c282833 0, #cb345d 20%, #e07693 45%, #e07693 55%, #cb345d 80%, #9c282833 100%)
    transform matrix(.47,-.97,.77,.53, 0,0)
    animation blink 12s infinite ease-in-out
    z-index -1
    @media(max-width point-m - 1)
      animation blink 8s infinite ease-in-out
  &--hidden
    max-height 0
    transition-duration 1s
