:root
  --iframe-padding-bottom 56.25%

.iframe-responsive
  margin-bottom 1rem
  &--shorts
    --iframe-padding-bottom calc(177.7% + 69px)
  &__iframe
    position relative
    padding-bottom var(--iframe-padding-bottom)
    margin-bottom .5rem
    iframe
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      border 0
  &__desc
    font-style italic
    line-height 1.375rem
    margin-bottom 1rem
