.header
  &__navigation
    & > .content
      display flex
      position relative
  &__navigation-phone
    align-self center
    margin-left auto
  &__banner
    margin-y 1.5rem
    padding-y 1rem
    border 1px solid #efefef
