.banner-love
  position relative
  padding 2rem 2.5rem 3.4rem
  overflow hidden
  @media(max-width point-m - 1)
    padding 1rem 1.5rem 3rem
  &__title
    position relative
    & span
      position relative
      font-size 2.125rem
      line-height 1.2
      font-weight 700
      @media(max-width point-m - 1)
        font-size 1.7rem
  &__choose
    position relative
    font-size 1.125rem
    line-height 1.4
    font-weight 500
  &__discount
    position relative
    margin-top auto
    font-size 1.125rem
    line-height 1.2
    width 14rem
    @media(max-width point-m - 1)
      width 12rem
      font-size 1rem
    &:not(.banner-love__discount--all)
      @media(max-width point-s - 1)
        width 10rem
    & span
      font-size 2.125rem
      line-height 1.2
      font-weight 700
      @media(max-width point-m - 1)
        font-size 1.5rem
      @media(max-width point-s - 1)
        font-size 1rem
    &--all
      position relative
      margin-top 4rem
      margin-x auto
      width 10rem
      @media(max-width point-m - 1)
        width 100%
        margin 0
  &__inner
    position relative
    &--man
      margin-top -5rem
      & img
        width 94%
      @media(max-width point-l - 1)
        margin-top 0
        & img
          width 68%
      @media(max-width point-m - 1)
        & img
          width 77%
      @media(max-width point-s - 1)
        & img
          width 96%
    &--woman
      margin-top -2.5rem
      & img
        width 89%
      @media(max-width point-l - 1)
        margin-top 0
        & img
          width 70%
      @media(max-width point-m - 1)
        & img
          width 80%
      @media(max-width point-s - 1)
        & img
          width 100%
  &__service
    position absolute
