-
  var consCategories = [
    {name:'О центре',count:'33'},
    {name:'О системе: структура и характеристики',count:'23'},
    {name:'Система волос для женщин',count:'84'},
    {name:'Система волос для мужчин',count:'52'},
    {name:'Система волос для детей',count:'13'},
    {name:'Проблемы с волосами',count:'24'},
    {name:'Образ жизни',count:'10'},
    {name:'Срок службы',count:'28'},
    {name:'Изготовление: срок и процесс',count:'16'},
    {name:'Стоимость и оплата',count:'56'},
    {name:'Фиксация системы',count:'8'},
    {name:'Самостоятельный уход',count:'21'},
    {name:'Стрижка, покраска, перефиксация в центре',count:'7'},
    {name:'Ремонт',count:'2'},
    {name:'Готовые системы',count:'11'},
    {name:'Иногородним: снятие мерок, доставка, самостоятельная фиксация',count:'83'},
    {name:'Иногородним: выбор и установка с посещением центра',count:'20'},
    {name:'Расходные материалы: ленты и клей',count:'25'},
  ]
