-
  var consItems = [
    {
      title:'Подскажите, есть ли у вас аналогический центр в Украине?',
      question: '',
      author: 'Павел, Киев',
      date:'03.06.2018',
      answers:'Ольга Лейтес, директор'
    },
    {
      title:'Ваш центр в москве, обслуживание у вас',
      question: {tag: 'p', content:'Здравствуйте ,скажите пожалуйста ,есть ли в Москве ваш центр ,так как хотелось бы получить обслуживание именно у вас ....остальные центры не вызывают такого доверия .Спасибо .'},
      author: 'Россия Крым ,Алушта, 38 лет',
      date:'04.02.2017',
      answers:'Ольга Лейтес, директор'
    },
    {
      title:'Подскажите, есть ли у вас аналогический центр в Украине?',
      question: '',
      author: 'Павел, Киев',
      date:'03.06.2018',
      answers:'Ольга Лейтес, директор'
    },
    {
      title:'Ваш центр в москве, обслуживание у вас',
      question: {tag: 'p', content:'Здравствуйте ,скажите пожалуйста ,есть ли в Москве ваш центр ,так как хотелось бы получить обслуживание именно у вас ....остальные центры не вызывают такого доверия .Спасибо .'},
      date:'04.02.2017',
      answers:'Ольга Лейтес, директор'
    },
    {
      title:'Подскажите, есть ли у вас аналогический центр в Украине?',
      question: '',
      author: 'Павел, Киев',
      date:'03.06.2018',
      answers:'Ольга Лейтес, директор'
    },
    {
      title:'Ваш центр в москве, обслуживание у вас',
      question: {tag: 'p', content:'Здравствуйте ,скажите пожалуйста ,есть ли в Москве ваш центр ,так как хотелось бы получить обслуживание именно у вас ....остальные центры не вызывают такого доверия .Спасибо .'},
      author: 'Россия Крым ,Алушта, 38 лет',
      date:'04.02.2017',
      answers:'Ольга Лейтес, директор'
    },
    {
      title:'Подскажите, есть ли у вас аналогический центр в Украине?',
      question: '',
      author: 'Павел, Киев',
      date:'03.06.2018',
      answers:'Ольга Лейтес, директор'
    },
    {
      title:'Ваш центр в москве, обслуживание у вас',
      question: {tag: 'p', content:'Здравствуйте ,скажите пожалуйста ,есть ли в Москве ваш центр ,так как хотелось бы получить обслуживание именно у вас ....остальные центры не вызывают такого доверия .Спасибо .'},
      author: 'Россия Крым ,Алушта, 38 лет',
      date:'04.02.2017',
      answers:'Ольга Лейтес, директор'
    },
  ]
