.header-navigation
  @media screen and (min-width (point-m) )
    &__list
      display flex
      flex-wrap wrap
    &__list-item
      position relative
      display flex
      transition background-color .2s
      & > a
        display block
        padding (basePadding) (basePadding)
        color #ffffff
        font-weight 500
        text-decoration none
        transition color .2s
      &:hover
        background-color #d1c4a5
        transition none
        & > a  
          color #3d3d3d
          transition none
      &--parent
        & > a
          &::after
            content ''
            display inline-block
            width 0.5rem
            height 0.5rem
            margin-left (basePadding/3*2)
            border-right 2px solid
            border-bottom 2px solid
            transform scaleY(0.875) translateY(-25%) rotate(45deg)
    &__sublist
      position absolute
      top 3.0625rem
      background-color #f1ede4
      z-index 10
      transform scaleY(0)
      transform-origin 0 0 0
      transition transform .2s
      
      ^[-1]__list-item:hover > &
        transform scaleY(1)
        transition none
        
    &__sublist-item
      @extend .header-navigation__list-item
      & > a
        color #3d3d3d
        transition color .2s
        white-space nowrap
        font-size font-s
        padding-y (basePadding/4*3)
        flex-grow 1
      &:hover
        background-color transparent
        & > a
          color #952642
          transition none
          background-color transparent
